@charset "utf-8";
/* CSS Document */

.ad_preview_boxx #secPlacementPreview .tit-section {
    margin-bottom: 30px
}

.ad_preview_boxx #secPlacementPreview .alert {
    text-align: center;
    background: transparent;
    border: 0;
    padding: 0;
    margin: -20px 0 10px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.ad_preview_boxx #secPlacementPreview .accordion .accordion-group {
    background: #e1e2e6;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -o-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
    -webkit-transition: background .2s ease-in-out 1s ease;
    -moz-transition: background .2s ease-in-out 1s ease;
    -ms-transition: background .2s ease-in-out 1s ease;
    -o-transition: background .2s ease-in-out 1s ease;
    transition: background .2s ease-in-out 1s ease
}

.ad_preview_boxx #secPlacementPreview .accordion .accordion-group.placement-desktopfeed .accordion-heading .tit::before {
    content: "\e70b";
    font-family: "icons2-adespresso";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    text-decoration: none
}

.ad_preview_boxx #secPlacementPreview .accordion .accordion-group.placement-mobilefeed .accordion-heading .tit::before {
    content: "\e70a";
    font-family: "icons2-adespresso";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    text-decoration: none
}

.ad_preview_boxx #secPlacementPreview .accordion .accordion-group.placement-rightcolumn .accordion-heading .tit::before {
    content: "\e709";
    font-family: "icons2-adespresso";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    text-decoration: none
}

.ad_preview_boxx #secPlacementPreview .accordion .accordion-group.placement-instagramstream .accordion-heading .tit::before {
    content: "\f16d";
    font-family: "FontAwesome";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    text-decoration: none
}

.ad_preview_boxx #secPlacementPreview .accordion .accordion-group.placement-audience-network .accordion-heading .tit::before {
    content: "\e65d";
    font-family: "icons2-adespresso";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    text-decoration: none
}

.ad_preview_boxx #secPlacementPreview .accordion .accordion-group.loading-data .collapsable-handle::before {
    content: "\e60e";
    font-family: "icons2-adespresso";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    text-decoration: none;
    -webkit-animation: anim-spin 1s infinite linear;
    -moz-animation: anim-spin 1s infinite linear;
    -o-animation: anim-spin 1s infinite linear;
    animation: anim-spin 1s infinite linear;
    line-height: 50px
}

.ad_preview_boxx #secPlacementPreview .accordion .accordion-group.loading-data .ads-preview-panel {
    opacity: .5;
    filter: alpha(opacity=50)
}

.ad_preview_boxx #secPlacementPreview .accordion .accordion-group.loading-data .ads-preview-panel .carousel-nav {
    display: none
}

.ad_preview_boxx #secPlacementPreview .accordion .accordion-group.loading-data::after {
    display: none
}

.ad_preview_boxx #secPlacementPreview .accordion .accordion-heading {
    position: relative;
    background: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff
}

.ad_preview_boxx #secPlacementPreview .accordion .accordion-heading .tit::before {
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 29.585798816568044px;
    line-height: 38.46153846153846px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 0 0 #fff;
    -moz-box-shadow: 1px 0 0 #fff;
    box-shadow: 1px 0 0 #fff
}

.ad_preview_boxx #secPlacementPreview .accordion .tit {
    vertical-align: middle
}

.ad_preview_boxx #secPlacementPreview .accordion .subinfo {
    vertical-align: middle;
    font-size: 12.820512820512821px
}

.ad_preview_boxx #secPlacementPreview .accordion .placement-choice input[type=checkbox],
.ad_preview_boxx #secPlacementPreview .accordion .placement-choice input[type=radio] {
    position: absolute;
    clip: rect(0px, 0px, 0px, 0px)
}

.ad_preview_boxx #secPlacementPreview .accordion .placement-choice label {
    display: block;
    height: 50px;
    margin: 0;
    padding-left: 53.46153846153846px;
    padding-right: 65px;
    line-height: 50px;
    font-size: 16.666666666666668px;
    color: #6a758d;
    text-shadow: 0 1px 0 #fff
}

.ad_preview_boxx #secPlacementPreview .accordion .placement-choice label::before {
    content: "\f00c";
    font-family: "FontAwesome";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 5.76923076923077px;
    left: 5.76923076923077px;
    height: 38.46153846153846px;
    width: 38.46153846153846px;
    font-size: 0;
    line-height: 30.46153846153846px;
    text-align: center;
    color: rgba(223, 230, 243, 0);
    background: rgba(255, 255, 255, 0.55);
    border: 4px solid #8690a4;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 3px 0 rgba(255, 255, 255, 0.95) inset;
    -moz-box-shadow: 0 3px 0 rgba(255, 255, 255, 0.95) inset;
    box-shadow: 0 3px 0 rgba(255, 255, 255, 0.95) inset;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out 1s ease;
    -moz-transition: all .15s ease-in-out 1s ease;
    -ms-transition: all .15s ease-in-out 1s ease;
    -o-transition: all .15s ease-in-out 1s ease;
    transition: all .15s ease-in-out 1s ease
}

.ad_preview_boxx #secPlacementPreview .accordion .placement-choice input[type=checkbox]:checked ~ label,
.ad_preview_boxx #secPlacementPreview .accordion .placement-choice input[type=radio]:checked ~ label {
    color: #3b5998
}

.ad_preview_boxx #secPlacementPreview .accordion .placement-choice input[type=checkbox]:checked ~ label::before,
.ad_preview_boxx #secPlacementPreview .accordion .placement-choice input[type=radio]:checked ~ label::before {
    font-size: 19.23076923076923px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    background: #3b5998;
    border-color: #4568b2;
    -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.25) inset;
    -moz-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.25) inset
}

.ad_preview_boxx #secPlacementPreview .accordion .placement-choice input[type=checkbox]:disabled ~ label,
.ad_preview_boxx #secPlacementPreview .accordion .placement-choice input[type=radio]:disabled ~ label {
    cursor: default;
    color: #5e636b
}

.ad_preview_boxx #secPlacementPreview .accordion .placement-choice input[type=checkbox]:disabled ~ label::before,
.ad_preview_boxx #secPlacementPreview .accordion .placement-choice input[type=radio]:disabled ~ label::before {
    font-size: 19.23076923076923px;
    color: #91969e;
    text-shadow: none;
    background: #d5d7da;
    border-color: #d5d7da;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.ad_preview_boxx #secPlacementPreview .accordion .placement-choice:hover label {
    color: #718dc8
}

.ad_preview_boxx #secPlacementPreview .accordion .placement-choice:hover label::before {
    font-size: 19.23076923076923px;
    color: #839ccf;
    border-color: #839ccf;
    background-color: #fff
}

.ad_preview_boxx #secPlacementPreview .accordion .placement-choice:hover input[type=checkbox]:checked ~ label,
.ad_preview_boxx #secPlacementPreview .accordion .placement-choice:hover input[type=radio]:checked ~ label {
    color: #4c70ba
}

.ad_preview_boxx #secPlacementPreview .accordion .placement-choice:hover input[type=checkbox]:checked ~ label::before,
.ad_preview_boxx #secPlacementPreview .accordion .placement-choice:hover input[type=radio]:checked ~ label::before {
    color: #fff
}

.ad_preview_boxx #secPlacementPreview .accordion .placement-choice:hover input[type=checkbox]:disabled ~ label,
.ad_preview_boxx #secPlacementPreview .accordion .placement-choice:hover input[type=radio]:disabled ~ label {
    color: #5e636b
}

.ad_preview_boxx #secPlacementPreview .accordion .placement-choice:hover input[type=checkbox]:disabled ~ label::before,
.ad_preview_boxx #secPlacementPreview .accordion .placement-choice:hover input[type=radio]:disabled ~ label::before {
    color: #91969e;
    background: #d5d7da;
    border-color: #d5d7da
}

.ad_preview_boxx #secPlacementPreview .accordion .collapsable-handle {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    padding: 0;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: #8690a4;
    background-color: #f9fafa;
    background-image: -moz-linear-gradient(top, #fdfdfd, #f4f5f6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#f4f5f6));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #f4f5f6);
    background-image: -o-linear-gradient(top, #fdfdfd, #f4f5f6);
    background-image: linear-gradient(to bottom, #fdfdfd, #f4f5f6);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fffdfdfd', endColorstr='#fff4f5f6', GradientType=0);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 0 0 #fff inset;
    -moz-box-shadow: 1px 0 0 #fff inset;
    box-shadow: 1px 0 0 #fff inset;
    opacity: .7;
    filter: alpha(opacity=70)
}

.ad_preview_boxx #secPlacementPreview .accordion .collapsable-handle::before {
    position: relative;
    line-height: 50px;
    color: inherit;
    -webkit-transform: scale(0.6, 0.9) rotate(180deg);
    -ms-transform: scale(0.6, 0.9) rotate(180deg);
    transform: scale(0.6, 0.9) rotate(180deg)
}

.ad_preview_boxx #secPlacementPreview .accordion .collapsable-handle:hover {
    color: #3b5998;
    background: #fff
}

.ad_preview_boxx #secPlacementPreview .accordion .accordion-inner {
    background: transparent
}

.ad_preview_boxx #secPlacementPreview .accordion .ads-preview-panel {
    opacity: .6;
    filter: alpha(opacity=60)
}

.ad_preview_boxx #secPlacementPreview .accordion .accordion-group.expanded .collapsable-handle::before {
    -webkit-transform: scale(0.8, 0.5) rotate(90deg);
    -ms-transform: scale(0.8, 0.5) rotate(90deg);
    transform: scale(0.8, 0.5) rotate(90deg)
}

.ad_preview_boxx #secPlacementPreview .accordion .accordion-group.selected {
    background: #f1f2f4
}

.ad_preview_boxx #secPlacementPreview .accordion .accordion-group.selected .collapsable-handle {
    opacity: 1;
    filter: alpha(opacity=100)
}

.ad_preview_boxx #secPlacementPreview .accordion .accordion-group.selected .ads-preview-panel {
    opacity: 1;
    filter: alpha(opacity=100)
}

.ad_preview_boxx #secPlacementPreview .accordion .accordion-group.selected.expanded {
    background: #f1f2f4
}

.ad_preview_boxx #secPlacementPreview .accordion .accordion-group.disabled {
    background: #f1f2f4
}

.ad_preview_boxx #secPlacementPreview .accordion .accordion-group.disabled .collapsable-handle {
    opacity: 1;
    filter: alpha(opacity=100)
}

.ad_preview_boxx #secPlacementPreview .accordion .accordion-group.disabled .ads-preview-panel {
    opacity: 1;
    filter: alpha(opacity=100)
}

.ad_preview_boxx #secPlacementPreview .accordion .accordion-group.disabled.expanded {
    background: #f1f2f4
}

.ad_preview_boxx .ads-preview-panel {
    position: relative;
    font-size: 11.9px;
    line-height: normal
}

.ad_preview_boxx .ads-preview-panel .preview-info {
    float: left;
    width: 60%
}

.ad_preview_boxx .ads-preview-panel .preview-info .tit {
    font-weight: bold;
    margin-bottom: .5em
}

.ad_preview_boxx .ads-preview-panel .preview-info-alert {
   -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    z-index: 10;
    top: 31%;
    left: 37%;
    width: 56%;
    margin-left: -15%;
    padding: 15px;
    text-align: center;
    font-size: 11.9px;
    line-height: normal;
    color: #6a758d;
    background: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}


.ad_preview_boxx .ads-preview-panel .preview-info-alert .tit {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 1em
}

.ad_preview_boxx .ads-preview-panel .preview-info-alert::after {
    /*    content: "\f108";*/
    font-family: "icons2-adespresso";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    text-decoration: none;
    font-size: 32px;
    margin-top: 5px;
    color: #a3aaba
}

.ad_preview_boxx .ads-preview-panel .preview-loading::after {
    content: "\e60e";
    font-family: "icons2-adespresso";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    text-decoration: none;
    -webkit-animation: anim-spin 1s infinite linear;
    -moz-animation: anim-spin 1s infinite linear;
    -o-animation: anim-spin 1s infinite linear;
    animation: anim-spin 1s infinite linear
}

.ad_preview_boxx .ads-preview-panel .carousel-nav {
    float: right;
    width: 40%;
    margin-bottom: 10px;
    text-align: right
}

.ad_preview_boxx .ads-preview-panel .carousel-nav .nav-info {
    display: inline-block;
    margin-right: 1em
}

.ad_preview_boxx .ads-preview-panel .carousel-nav .carousel-control {
    position: static;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0;
    vertical-align: middle;
    font-size: 15px;
    line-height: 30px;
    color: #2b53a8;
    background: rgba(113, 141, 200, 0.25);
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.ad_preview_boxx .ads-preview-panel .carousel-nav .carousel-control.right::before {
    content: "\f054";
    font-family: "FontAwesome";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    text-decoration: none
}

.ad_preview_boxx .ads-preview-panel .carousel-nav .carousel-control.left::before {
    content: "\f053";
    font-family: "FontAwesome";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    text-decoration: none
}

.ad_preview_boxx .ads-preview-panel .carousel {
    clear: both;
    min-height: 350px;
    padding-top: 25px
}

.ad_preview_boxx .ads-preview-panel .fb-ads-list {
    background: transparent
}

.ad_preview_boxx .ads-preview-panel .fb-ads-list .ad-preview {
    overflow: hidden;
    margin: 0 auto
}

.ad_preview_boxx .ads-preview-panel .fb-ads-list .item-view-all {
    text-align: center;
    font-size: 17.5px;
    font-weight: bold
}

.ad_preview_boxx .ads-preview-panel .fb-ads-list .item-view-all .view-all-link {
    position: relative;
    display: block;
    height: 100%;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    background-color: #718dc8
}

.ad_preview_boxx .ads-preview-panel .fb-ads-list .item-view-all .view-all-link .txt {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -2.5em
}

.ad_preview_boxx .ads-preview-panel .fb-ads-list .item-view-all .view-all-link .txt::after {
    content: "\f03a";
    font-family: "FontAwesome";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    text-decoration: none;
    display: block;
    margin-top: .2em;
    font-size: 3em;
    opacity: .6;
    filter: alpha(opacity=60)
}

.ad_preview_boxx .ads-preview-panel .fb-ads-list .item-view-all .view-all-link:hover {
    background-color: #839ccf
}

.ad_preview_boxx .ads-preview-panel .fb-ads-list.fb-list-desktopfeed .ad-preview {
    height: 560px;
    width: 530px
}

.ad_preview_boxx .ads-preview-panel .fb-ads-list.fb-list-desktopfeed .ad-preview iframe {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top
}

.ad_preview_boxx .ads-preview-panel .fb-ads-list.fb-list-mobilefeed .ad-preview,
.ad_preview_boxx .ads-preview-panel .fb-ads-list.fb-list-instagramstream .ad-preview {
    width: 340px;
    height: 450px
}

.ad_preview_boxx .ads-preview-panel .fb-ads-list.fb-list-mobilefeed .ad-preview iframe,
.ad_preview_boxx .ads-preview-panel .fb-ads-list.fb-list-instagramstream .ad-preview iframe {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    margin-top: 0
}

.ad_preview_boxx .ads-preview-panel .fb-ads-list.fb-list-rightcolumn .ad-preview {
    height: 235px;
    width: 290px;
    margin-top: 50px
}

.ad_preview_boxx .ads-preview-panel .fb-ads-list.fb-list-rightcolumn .ad-preview iframe {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);

    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top
}

.ad_preview_boxx .ads-preview-panel.desktop-panel .carousel,
.ad_preview_boxx .ads-preview-panel.previews-desktopfeed .carousel,
.ad_preview_boxx .ads-preview-panel.previews-rightcolumn .carousel {
   padding-bottom: 10px;
    background-color: rgb(197, 209, 220);
    border: 1px solid rgb(184, 197, 208);
}

.ad_preview_boxx .ads-preview-panel.desktop-panel .carousel::before,
.ad_preview_boxx .ads-preview-panel.previews-desktopfeed .carousel::before,
.ad_preview_boxx .ads-preview-panel.previews-rightcolumn .carousel::before {
    /*content: "\e6fd";
    font-family: "icons2-adespresso";*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    text-decoration: none;
    display: block;
    position: absolute;
    background-color: #a1a6b1;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 20px;
    padding: 3px 5px;
    font-size: 15px;
    color: #fff;
    text-shadow: none;
    text-align: left
}

.ad_preview_boxx .ads-preview-panel.smartphone-panel .preview-info-alert,
.ad_preview_boxx .ads-preview-panel.previews-mobilefeed .preview-info-alert,
.ad_preview_boxx .ads-preview-panel.previews-instagramstream .preview-info-alert {
    top: 228px
}

.ad_preview_boxx .ads-preview-panel.smartphone-panel .carousel,
.ad_preview_boxx .ads-preview-panel.previews-mobilefeed .carousel,
.ad_preview_boxx .ads-preview-panel.previews-instagramstream .carousel {
    background: url("../bundles/cwsocialads/images/ico/preview-cell.svg") no-repeat center 10px;
    -webkit-background-size: 400px;
    -moz-background-size: 400px;
    -o-background-size: 400px;
    background-size: 400px;
    margin: 0 auto;
    padding-top: 128px;
    padding-left: 3px;
    position: relative
}

.ad_preview_boxx .ads-preview-panel.smartphone-panel .carousel-inner,
.ad_preview_boxx .ads-preview-panel.previews-mobilefeed .carousel-inner,
.ad_preview_boxx .ads-preview-panel.previews-instagramstream .carousel-inner {
    height: 450px;
    width: 340px;
    margin: 0 auto
}

.ad_preview_boxx .ads-preview-panel.smartphone-panel .carousel-inner .item,
.ad_preview_boxx .ads-preview-panel.previews-mobilefeed .carousel-inner .item,
.ad_preview_boxx .ads-preview-panel.previews-instagramstream .carousel-inner .item {
    width: 340px
}

.ad_preview_boxx .ads-preview-panel.smartphone-panel .ad-preview,
.ad_preview_boxx .ads-preview-panel.previews-mobilefeed .ad-preview,
.ad_preview_boxx .ads-preview-panel.previews-instagramstream .ad-preview {
    overflow: hidden;
    height: 450px;
    margin-bottom: 0;
    background: transparent
}

.ad_preview_boxx .ads-preview-panel.smartphone-panel .ad-inner,
.ad_preview_boxx .ads-preview-panel.previews-mobilefeed .ad-inner,
.ad_preview_boxx .ads-preview-panel.previews-instagramstream .ad-inner {
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center
}

.ad_preview_boxx .ads-preview-panel .placement-sub {
    clear: both
}

.ad_preview_boxx .ads-preview-panel .placement-sub .field {
    height: auto;
    font-size: 11.9px
}
.ad_preview_boxx .panel-title>a {
    color: inherit;
	text-decoration:none;
	font-weight:600;
	color: #fff;
}
.ad_preview_boxx .panel-group {
    padding:8px;
}
.refresh-btn{
	margin-bottom:12px;
	margin-right:18px;
}
.ad_preview_boxx .panel-title>a span{
	width:23px;
	text-align:center;
}
.ad_preview_boxx .panel-default>.panel-heading {
    color: #FFF;
    background-color: #899DAD !important;
    border-color: #718392 !important;
}