/* here you can put your own css to customize and override the theme */
/* -------------------------------- 

Basic Style

-------------------------------- */
.cd-breadcrumb, .cd-multi-steps {
  width: 100%;
  /*max-width: 768px;*/
  padding: 0.5em 1em;
  margin: 1em auto;
  background-color: #edeff0;
  border-radius: .25em;
}
.cd-breadcrumb:after, .cd-multi-steps:after {
  content: "";
  display: table;
  clear: both;
}
.cd-breadcrumb li, .cd-multi-steps li {
  display: inline-block;
  /*float: left;*/
  float: none;
  margin: 0.5em 0;
}
.cd-breadcrumb li a{
	text-decoration:none;
	font-weight:600;
}
.cd-breadcrumb li::after, .cd-multi-steps li::after {
  /* this is the separator between items */
  display: inline-block;
  content: '\00bb';
  margin: 0 .6em;
  color: #959fa5;
}
.cd-breadcrumb li:last-of-type::after, .cd-multi-steps li:last-of-type::after {
  /* hide separator after the last item */
  display: none;
}
.cd-breadcrumb li > *, .cd-multi-steps li > * {
  /* single step */
  display: inline-block;
  font-size: 1.4rem;
  color: #2c3f4c;
}
.cd-breadcrumb li.current > *, .cd-multi-steps li.current > * {
  /* selected step */
  color: #84B51E;
  font-weight:600;
}
.no-touch .cd-breadcrumb a:hover, .no-touch .cd-multi-steps a:hover {
  /* steps already visited */
  color: #96c03d;
}
.cd-breadcrumb.custom-separator li::after, .cd-multi-steps.custom-separator li::after {
  /* replace the default arrow separator with a custom icon */
  content: '';
  height: 16px;
  width: 16px;
  background: url(../img/cd-custom-separator.svg) no-repeat center center;
  vertical-align: middle;
}
.cd-breadcrumb.custom-icons li > *::before, .cd-multi-steps.custom-icons li > *::before {
  /* add a custom icon before each item */
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: .4em;
  margin-top: -2px;
  background: url(../img/cd-custom-icons-01.svg) no-repeat 0 0;
  vertical-align: middle;
}
.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(2) > *::before, .cd-multi-steps.custom-icons li:not(.current):nth-of-type(2) > *::before {
  /* change custom icon using image sprites */
  background-position: -20px 0;
}
.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(3) > *::before, .cd-multi-steps.custom-icons li:not(.current):nth-of-type(3) > *::before {
  background-position: -40px 0;
}
.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(4) > *::before, .cd-multi-steps.custom-icons li:not(.current):nth-of-type(4) > *::before {
  background-position: -60px 0;
}
.cd-breadcrumb.custom-icons li.current:first-of-type > *::before, .cd-multi-steps.custom-icons li.current:first-of-type > *::before {
  /* change custom icon for the current item */
  background-position: 0 -20px;
}
.cd-breadcrumb.custom-icons li.current:nth-of-type(2) > *::before, .cd-multi-steps.custom-icons li.current:nth-of-type(2) > *::before {
  background-position: -20px -20px;
}
.cd-breadcrumb.custom-icons li.current:nth-of-type(3) > *::before, .cd-multi-steps.custom-icons li.current:nth-of-type(3) > *::before {
  background-position: -40px -20px;
}
.cd-breadcrumb.custom-icons li.current:nth-of-type(4) > *::before, .cd-multi-steps.custom-icons li.current:nth-of-type(4) > *::before {
  background-position: -60px -20px;
}
 .cd-breadcrumb li i{
		font-style: normal;
    font-weight: 600;
    margin-right: 10px;
    height: 26px;
    width: 26px;
    background-color: #FFFFFF;
    color: #1489B7;
    text-align: center;
    line-height: 26px;
    border-radius: 100%;
    display: inline-block;
    font-size: 14px;
    box-shadow: 0px 3px 1px #6B6B6B;
  }
@media only screen and (min-width: 768px) {
  .cd-breadcrumb, .cd-multi-steps {
    padding: 0 1.2em;
  }
  .cd-breadcrumb li, .cd-multi-steps li {
    margin: 1.2em 0;
  }
  .cd-breadcrumb li::after, .cd-multi-steps li::after {
    margin: 0 1em;
  }
  .cd-breadcrumb li > *, .cd-multi-steps li > * {
    font-size: 1.6rem;
  }
}

/* -------------------------------- 

Triangle breadcrumb

-------------------------------- */
@media only screen and (min-width: 768px) {
  .cd-breadcrumb.triangle {
    /* reset basic style */
    background-color: transparent;
    padding: 0;
  }
  .cd-breadcrumb.triangle li {
    position: relative;
    padding: 0;
    margin: 4px 4px 4px 0;
  }
  .cd-breadcrumb.triangle li:last-of-type {
    margin-right: 0;
  }
  .cd-breadcrumb.triangle li > * {
    position: relative;
    padding: 15px 9px 15px 27px;
    color: #64727B;
    background-color: #E1E2E2;
    /* the border color is used to style its ::after pseudo-element */
    border-color: #E1E2E2;
  }
  .cd-breadcrumb.triangle li.current > * {
    /* selected step */
    color: #ffffff;
    background-color: #42DD8F;
    border-color: #42DD8F;
  }
  .cd-breadcrumb.triangle li.active > * {
    /* selected step */
    color: #ffffff;
    background-color: #42DD8F;
    border-color: #42DD8F;
  }
  .cd-breadcrumb.triangle li:first-of-type > * {
    padding-left: 1.6em;
    border-radius: .25em 0 0 .25em;
  }
  .cd-breadcrumb.triangle li:last-of-type > * {
    padding-right: 1.6em;
    border-radius: 0 .25em .25em 0;
  }
  .cd-breadcrumb li i{
		font-style: normal;
    font-weight: 600;
    margin-right: 10px;
    height: 26px;
    width: 26px;
    background-color: #FFFFFF;
    color: #1489B7;
    text-align: center;
    line-height: 26px;
    border-radius: 100%;
    display: inline-block;
    font-size: 14px;
    box-shadow: 0px 3px 1px #6B6B6B;
  }
  .cd-breadcrumb.triangle li::after, .cd-breadcrumb.triangle li > *::after {
    /* 
    	li > *::after is the colored triangle after each item
    	li::after is the white separator between two items
    */
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    content: '';
    height: 0;
    width: 0;
    /* 48px is the height of the <a> element */
    border: 28px solid transparent;
    border-right-width: 0;
    border-left-width: 20px;
  }
  .cd-breadcrumb.triangle li::after {
    /* this is the white separator between two items */
    z-index: 1;
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
    transform: translateX(4px);
    border-left-color: #ffffff;
    /* reset style */
    margin: 0;
  }
  .cd-breadcrumb.triangle li > *::after {
    /* this is the colored triangle after each element */
    z-index: 2;
    border-left-color: inherit;
  }
  .cd-breadcrumb.triangle li:last-of-type::after, .cd-breadcrumb.triangle li:last-of-type > *::after {
    /* hide the triangle after the last step */
    display: none;
  }
  .cd-breadcrumb.triangle.custom-separator li::after {
    /* reset style */
    background-image: none;
  }
  .cd-breadcrumb.triangle.custom-icons li::after, .cd-breadcrumb.triangle.custom-icons li > *::after {
    /* 50px is the height of the <a> element */
    border-top-width: 25px;
    border-bottom-width: 25px;
  }

  @-moz-document url-prefix() {
    .cd-breadcrumb.triangle li::after,
    .cd-breadcrumb.triangle li > *::after {
      /* fix a bug on Firefix - tooth edge on css triangle */
      border-left-style: dashed;
    }
  }
}
/* -------------------------------- 

Custom icons hover effects - breadcrumb and multi-steps

-------------------------------- */
@media only screen and (min-width: 768px) {
  .no-touch .cd-breadcrumb.triangle.custom-icons li:first-of-type a:hover::before, .cd-breadcrumb.triangle.custom-icons li.current:first-of-type em::before, .no-touch .cd-multi-steps.text-center.custom-icons li:first-of-type a:hover::before, .cd-multi-steps.text-center.custom-icons li.current:first-of-type em::before {
    /* change custom icon using image sprites - hover effect or current item */
    background-position: 0 -40px;
  }
  .no-touch .cd-breadcrumb.triangle.custom-icons li:nth-of-type(2) a:hover::before, .cd-breadcrumb.triangle.custom-icons li.current:nth-of-type(2) em::before, .no-touch .cd-multi-steps.text-center.custom-icons li:nth-of-type(2) a:hover::before, .cd-multi-steps.text-center.custom-icons li.current:nth-of-type(2) em::before {
    background-position: -20px -40px;
  }
  .no-touch .cd-breadcrumb.triangle.custom-icons li:nth-of-type(3) a:hover::before, .cd-breadcrumb.triangle.custom-icons li.current:nth-of-type(3) em::before, .no-touch .cd-multi-steps.text-center.custom-icons li:nth-of-type(3) a:hover::before, .cd-multi-steps.text-center.custom-icons li.current:nth-of-type(3) em::before {
    background-position: -40px -40px;
  }
  .no-touch .cd-breadcrumb.triangle.custom-icons li:nth-of-type(4) a:hover::before, .cd-breadcrumb.triangle.custom-icons li.current:nth-of-type(4) em::before, .no-touch .cd-multi-steps.text-center.custom-icons li:nth-of-type(4) a:hover::before, .cd-multi-steps.text-center.custom-icons li.current:nth-of-type(4) em::before {
    background-position: -60px -40px;
  }
  .cd-breadcrumb.triangle a:hover {
    /* steps already visited */
    color: #ffffff;
   background-color: #0092CC;
    border-color: #0092CC;
  }
}
/* -------------------------------- 

Multi steps indicator 

-------------------------------- */
@media only screen and (min-width: 768px) {
  .cd-multi-steps {
    /* reset style */
    background-color: transparent;
    padding: 0;
    text-align: center;
  }

  .cd-multi-steps li {
    position: relative;
    float: none;
    margin: 0.4em 40px 0.4em 0;
  }
  .cd-multi-steps li:last-of-type {
    margin-right: 0;
  }
  .cd-multi-steps li::after {
    /* this is the line connecting 2 adjacent items */
    position: absolute;
    content: '';
    height: 4px;
    background: #edeff0;
    /* reset style */
    margin: 0;
  }
  .cd-multi-steps li.visited::after {
    background-color: #96c03d;
  }
  .cd-multi-steps li > *, .cd-multi-steps li.current > * {
    position: relative;
    color: #2c3f4c;
  }

  .cd-multi-steps.custom-separator li::after {
    /* reset style */
    height: 4px;
    background: #edeff0;
  }

  .cd-multi-steps.text-center li::after {
    width: 100%;
    top: 50%;
    left: 100%;
    -webkit-transform: translateY(-50%) translateX(-1px);
    -moz-transform: translateY(-50%) translateX(-1px);
    -ms-transform: translateY(-50%) translateX(-1px);
    -o-transform: translateY(-50%) translateX(-1px);
    transform: translateY(-50%) translateX(-1px);
  }
  .cd-multi-steps.text-center li > * {
    z-index: 1;
    padding: .6em 1em;
    border-radius: .25em;
    background-color: #edeff0;
  }
  .no-touch .cd-multi-steps.text-center a:hover {
    background-color: #2c3f4c;
  }
  .cd-multi-steps.text-center li.current > *, .cd-multi-steps.text-center li.visited > * {
    color: #ffffff;
    background-color: #96c03d;
  }
  .cd-multi-steps.text-center.custom-icons li.visited a::before {
    /* change the custom icon for the visited item - check icon */
    background-position: 0 -60px;
  }

  .cd-multi-steps.text-top li, .cd-multi-steps.text-bottom li {
    width: 80px;
    text-align: center;
  }
  .cd-multi-steps.text-top li::after, .cd-multi-steps.text-bottom li::after {
    /* this is the line connecting 2 adjacent items */
    position: absolute;
    left: 50%;
    /* 40px is the <li> right margin value */
    width: calc(100% + 40px);
  }
  .cd-multi-steps.text-top li > *::before, .cd-multi-steps.text-bottom li > *::before {
    /* this is the spot indicator */
    content: '';
    position: absolute;
    z-index: 1;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #edeff0;
  }
  .cd-multi-steps.text-top li.visited > *::before,
  .cd-multi-steps.text-top li.current > *::before, .cd-multi-steps.text-bottom li.visited > *::before,
  .cd-multi-steps.text-bottom li.current > *::before {
    background-color: #96c03d;
  }
  .no-touch .cd-multi-steps.text-top a:hover, .no-touch .cd-multi-steps.text-bottom a:hover {
    color: #96c03d;
  }
  .no-touch .cd-multi-steps.text-top a:hover::before, .no-touch .cd-multi-steps.text-bottom a:hover::before {
    box-shadow: 0 0 0 3px rgba(150, 192, 61, 0.3);
  }

  .cd-multi-steps.text-top li::after {
    /* this is the line connecting 2 adjacent items */
    bottom: 4px;
  }
  .cd-multi-steps.text-top li > * {
    padding-bottom: 20px;
  }
  .cd-multi-steps.text-top li > *::before {
    /* this is the spot indicator */
    bottom: 0;
  }

  .cd-multi-steps.text-bottom li::after {
    /* this is the line connecting 2 adjacent items */
    top: 3px;
  }
  .cd-multi-steps.text-bottom li > * {
    padding-top: 20px;
  }
  .cd-multi-steps.text-bottom li > *::before {
    /* this is the spot indicator */
    top: 0;
  }
}
/* -------------------------------- 

Add a counter to the multi-steps indicator 

-------------------------------- */
.cd-multi-steps.count li {
  counter-increment: steps;
}

.cd-multi-steps.count li > *::before {
  content: counter(steps) " - ";
}

@media only screen and (min-width: 768px) {
  .cd-multi-steps.text-top.count li > *::before,
  .cd-multi-steps.text-bottom.count li > *::before {
    /* this is the spot indicator */
    content: counter(steps);
    height: 26px;
    width: 26px;
    line-height: 26px;
    font-size: 1.4rem;
    color: #ffffff;
  }

  .cd-multi-steps.text-top.count li:not(.current) em::before,
  .cd-multi-steps.text-bottom.count li:not(.current) em::before {
    /* steps not visited yet - counter color */
    color: #2c3f4c;
  }

  .cd-multi-steps.text-top.count li::after {
    bottom: 11px;
  }

  .cd-multi-steps.text-top.count li > * {
    padding-bottom: 34px;
  }

  .cd-multi-steps.text-bottom.count li::after {
    top: 11px;
  }

  .cd-multi-steps.text-bottom.count li > * {
    padding-top: 34px;
  }
}
.location-audi .portlet-body{
	background-color: #F5F7F9 !important;
}
.placement-audi .portlet-body{
	background-color: #F5F7F9 !important;
}
.advance-targ-audi .portlet-body{
	background-color: #F5F7F9 !important;
}
.edu-work-audi .portlet-body{
	background-color: #F5F7F9 !important;
}
.advancetarget-audi .portlet-body{
	background-color: #F5F7F9 !important;
}
.audiencetbl .portlet-body{
	background-color: #F5F7F9 !important;
}
.advancetarget-audi .portlet-title {
	border-bottom:none !important;
}

.advance-targ-audi-form label.btn.default {
    border-radius: 5px !important;
    margin-right: 5px;
	padding: 8px 20px;
	margin-bottom:6px;
}
.advance-targ-audi-form .btn.default:hover, .advance-targ-audi-form .btn.default:focus, .advance-targ-audi-form .btn.default:active, .advance-targ-audi-form .btn.default.active{
	background-color:#3BCC83;
	border-color: #3BCC83;
}
.advancetarget-audi-form .title{
	font-weight: 600;
    color: #32B2DC;
    margin-top: 20px;
    margin-bottom: 16px;
}
.audience-box .sub-note{
	font-size:14px;
	font-weight:600;
	color:#708790;
	margin-left:0px;
}
.audience-box .page-title{
	    font-weight: 500;
    color: #0092CC;
    padding-bottom: 0px;
    margin-bottom: 0;
}
.audience-box hr {
    margin: 15px 0;
}
.audience-box .control-label{
	margin-top: 2px;
    font-weight: 600;
    color: #465866;
	font-size:15px;
	margin-bottom: 6px
}
.audience-box .form-control {
	border-radius:5px;	
}
.audience-box .radio label, .checkbox label{
	color:#5D6C77;
}
.audience-box .ageyear{
	display:block;	
}
.audience-box .ageyear .spin1{
	float:left;
	margin-right:10px;
}
.audience-box .ageyear .ageyear-icon{
	float:left;
	margin-right:10px;
}
.audience-box .ageyear .ageyear-icon p{
	padding:10px 5px;
}
.audience-box .ageyear .ageyear-icon p i{
	font-size: 23px;
    color: #76909A;
}
.audience-box .ageyear .spin2{
	float:left;
	margin-right:10px;
}
.add-ageyear a{
	cursor: pointer;
    width: 33px;
    height: 33px;
    background-color: #3F4F5D;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    line-height: 34px;
    border-radius: 4px;
		transition:all 0.2s ease-in-out;
}
.add-ageyear a:hover{
	background-color:#0092CC;

}
.add-ageyear a i{
	color:#fff;
	font-size:16px;
}
/*delete*/
.delete-ageyear a{
	cursor: pointer;
    width: 33px;
    height: 33px;
    background-color: #FD4747;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    line-height: 34px;
    border-radius: 4px;
		transition:all 0.2s ease-in-out;
}
.delete-ageyear a:hover{
	background-color:#E42929;

}
.delete-ageyear a i{
	color:#fff;
	font-size:16px;
}
@media only screen and (max-width: 400px) {
.audience-box .ageyear .ageyear-icon{
	display:none;
}
}
@media only screen and (max-width: 768px) {
	.stick-td{
		position:relative !important;
		display:block !important;
		width:100%;
	}
	.stick-td2{
		position:relative !important;
		display:block !important;
		width:100%;
	}
}
@media only screen and (min-width: 769px) {
.stick-td{
	position:fixed;
	display:inline-block;
	width:31%;
	top: 60px;
	right: 20px;
}
.stick-td2{
	position:fixed;
	display:inline-block;
	width:24%;
	top: 61px;
	right: 20px;
	
}
}
.targeting-detail i{
	color:#fff !important;
}
.targeting-detail > .portlet-title{
	border-bottom: 1px solid #849EA9  !important;
}
.targeting-detail > .portlet-title > .caption{
	text-align:center;
	display:block;
	float:none;
}
.targeting-detail > .portlet-title > .caption > i{
	float:none;
}
.targeting-detail > .portlet-title, .targeting-detail > .portlet-body {
    border: 0;
    color: white;
}
.portlet.targeting-detail {
    padding: 10px;
    border: 0px;
}
.portlet > .portlet-body.targeting-detail, .portlet.targeting-detail {
    background-color:#6A8E9C;
}
.target-details{
	font-size:15px;
}
.target-details b{
	font-weight:600;
}
.target-details2{
	font-size:15px;
	padding:15px 5px;
}
.target-details2 .htitle{
	font-weight:600;
	min-width:150px;
	display:inline-block;
}
/**/
.selected-detail i{
	color:#fff !important;
}
.selected-detail > .portlet-title{
	border-bottom: 1px solid #849EA9  !important;
}
.selected-detail > .portlet-title > .caption{
	text-align:center;
	display:block;
	float:none;
	color:#fff;
}
.targeting-detail > .portlet-title > .caption > i{
	float:none;
}
.targeting-detail > .portlet-title, .selected-detail > .portlet-body {
    border: 0;
    color: white;
}
.portlet.selected-detail {
    padding: 10px;
    border: 0px;
}
.portlet > .portlet-body.selected-detail, .portlet.selected-detail {
    background-color:#6A8E9C;
}
.selected-details{
	font-size:15px;
}
.selected-details b{
	font-weight:600;
}
/**/
/*Select Placement*/
	/*desktop feed*/
.placement-audi .placement-audi-form .desktopfeed.checked{
	border-color:#0092CC !important;
}
.placement-audi .placement-audi-form .desktopfeed span img{
	width:85px;
}
.placement-audi .placement-audi-form .desktopfeed .img2{
	display:none;
}
.placement-audi .placement-audi-form .desktopfeed .checker{
	display:none;
}

	/*mobile feed*/
.placement-audi .placement-audi-form .mobilefeed.checked{
	border-color:#0092CC !important;
}
.placement-audi .placement-audi-form .mobilefeed span img{
	width:85px;
}
.placement-audi .placement-audi-form .mobilefeed .img2{
	display:none;
}
.placement-audi .placement-audi-form .mobilefeed .checker{
	display:none;
}

	/*third party mobile*/
.placement-audi .placement-audi-form .thirdpartymobile.checked{
	border-color:#0092CC !important;
}
.placement-audi .placement-audi-form .thirdpartymobile span img{
	width:85px;
}
.placement-audi .placement-audi-form .thirdpartymobile .img2{
	display:none;
}
.placement-audi .placement-audi-form .thirdpartymobile .checker{
	display:none;
}

	/*desktop right hand*/
.placement-audi .placement-audi-form .desktoprighthand.checked{
	border-color:#0092CC !important;
}
.placement-audi .placement-audi-form .desktoprighthand span img{
	width:85px;
}
.placement-audi .placement-audi-form .desktoprighthand .img2{
	display:none;
}
.placement-audi .placement-audi-form .desktoprighthand .checker{
	display:none;
}
.placement-audi .placement-audi-form span.img1, .placement-audi .placement-audi-form span.img2{
	float:left;
	width:30%;
}
.choose-placement{
	    display: block;
    background-color: #fff;
    padding: 10px 15px;
    border: 1px solid #EBEDEF;
    border-radius: 5px;
    margin-bottom: 15px;
}
.choose-placement .titel-text{
	font-size: 20px;
    color: #ABBAC5;
    padding-left: 10px;
    font-weight: 600;
    margin-top: 24px;
    display: inline-block;
    width: 70%;
	
}
@media only screen and (max-width: 450px) {
	.choose-placement .titel-text{
		font-size: 16px !important;
		margin-left: 10px;
	}
	.choose-placement{
		padding: 10px 10px;
	}
	.placement-audi .placement-audi-form  span img{
		width:55px !important;
	}
}
.placement-audi-form .titel-text.checked{
	    color: #0092CC !important;
    font-weight: bold;
}

.choose-placement label{width: 100%;margin: 0;}
.choose-placement label > input {display:none;}
.choose-placement label {cursor:pointer;}
.tblbtn{
	margin-top:5px !important;
	font-size:10px !important;
	padding: 2px 5px 2px 5px;
	line-height: 1.5;
	border-radius: 3px;
}
.audience-tbl table thead tr th{
	font-size:13px !important;
}
/*ads design page*/
.ad_preview_boxx .panel-group {
    padding: 8px;
    display: inline-block;
    width: 100%;
}
.ads-box .page-title{
	    font-weight: 500;
    color: #0092CC;
    padding-bottom: 0px;
    margin-bottom: 0;
}
.ads-box hr {
    margin: 15px 0;
}
.ads-box .control-label{
	margin-top: 2px;
    font-weight: 600;
    color: #465866;
	font-size:15px;
	margin-bottom: 6px
}
.ads-box .form-control {
	border-radius:5px;	
}
.ads-box .radio label, .checkbox label{
	color:#5D6C77;
}
.facebookpage-ads .portlet-body{
	background-color: #F5F7F9 !important;
}
.displaycontent-ads .portlet-body{
	background-color: #F5F7F9 !important;
}
.uploadimg-ads .portlet-body{
	background-color: #F5F7F9 !important;
}
.checkbox-ads .portlet-body{
	background-color: #F5F7F9 !important;
}
.addfield_textbox{
	float:left;
	width:88%;
	margin-right:15px;
	margin-bottom:10px;
}
@media screen and (min-width:992px) and (max-width:1160px){
	.addfield_textbox{
	float:left;
	width:85%;
	margin-right:15px;
}
}
@media screen and (min-width:768px) and (max-width:992px){
.addfield_textbox{
	float:left;
	width:86%;
	margin-right:15px;
}
}
@media screen and (min-width:600px) and (max-width:767px){
.addfield_textbox{
	float:left;
	width:91%;
	margin-right:15px;
}
}
@media screen and (min-width:420px) and (max-width:600px){
.addfield_textbox{
	float:left;
	width:87%;
	margin-right:15px;
}
}
@media screen and (min-width:320px) and (max-width:420px){
.addfield_textbox{
	float:left;
	width:82%;
	margin-right:15px;
}
}
.plus-box{
	margin-bottom:10px;
}
.plus-box a{
	cursor: pointer;
    width: 33px;
    height: 33px;
    background-color: #3F4F5D;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    line-height: 34px;
    border-radius: 4px;
	transition:all 0.2s ease-in-out;
	
}
.plus-box a:hover{
	background-color:#0092CC;

}
.plus-box a i{
	color:#fff;
	font-size:16px;
}

/*delete*/
.delete-box{
	margin-bottom:10px;
}
.delete-box a{
	cursor: pointer;
    width: 33px;
    height: 33px;
    background-color: #FD4747;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    line-height: 34px;
    border-radius: 4px;
		transition:all 0.2s ease-in-out;
}
.delete-box a:hover{
	background-color:#E42929;
}
.delete-box a i{
	color:#fff;
	font-size:16px;
}
.m-t-10{
	margin-top:10px !important;
}
.m-b-10{
	margin-bottom:10px !important;
}
.m-tb-10{
	margin-top:10px !important;
	margin-bottom:10px !important;
}
.p-n{
	padding:0px; 
}
/*uploading ads*/
.uploadimg-ads .upld-btn{
	margin-top:8px;
	margin-bottom:8px;
}
.uploadimg-ads .upld-btn a{
	margin-bottom:8px;
	margin-right:5px;
}
.uploadimg-ads .upld-img{
	display:none;
}
.uploadimg-ads .upld-video{
	display:none;
}
.uploadimg-ads .upld-lib{
	display:none;
}

/*create a capaign page */
.choose-camp-sec .portlet-body {
    background-color: #F5F7F9 !important;
}
.camp-name .portlet-body {
    background-color: #F5F7F9 !important;
}
.choose-campaign-a{
	    display: inline-block;
    background-color: #fff;
    padding: 10px 15px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    margin-bottom: 15px;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    min-height: 91px;
    width: 100%;
}
.choose-campaign-a:hover{
	 background-color: #0092CC ;
	 color:#fff;
}
.choose-campaign-a .titel-text{
	font-size: 20px;
    color: #ABBAC5;
    padding-left: 10px;
    font-weight: 600;
    margin-top: 20px;
    display: inline-block;
    width: 77%;
}
.choose-campaign-a:hover .titel-text{
    color: #fff;
}
.choose-camp-sec .create-camp-form  span img{
	width:70px;
}
/*.choose-camp-sec .create-camp-form span.img2 img{
	display:none;
}*/
.choose-campaign-a:hover span.img1{
	display:none;
}
.choose-campaign-a:hover span.img2{
	display:block;
}
/*
.choose-campaign.checked span.img2 img{
	display:block !important;	
}*/
@media only screen and (max-width: 450px) {
	.choose-campaign .titel-text{
		font-size: 16px !important;
		margin-left: 10px;
	}
	.choose-campaign{
		padding: 10px 10px;
	}
	
}
/*.choose-campaign .titel-text.checked{
	    color: #fff !important;
    font-weight: bold;
}*/

/*.choose-campaign label{width: 100%;margin: 0;}
.choose-campaign label > input {display:none;}
.choose-campaign label {cursor:pointer;}
*/
	/*choose-camp-sec*/
/*.choose-camp-sec .create-camp-form .choose-campaign.checked{
	border-color:#0092CC !important;
	background-color: #0092CC ;
	 color:#fff;
}
.choose-camp-sec .create-camp-form .choose-campaign .radio{
	display:none;
}*/
.choose-camp-sec .create-camp-form span.img1, .choose-camp-sec .create-camp-form span.img2{
	float:left;
	width:23%;
}

/*clicktowebsite*/
.clicktowebsite label{ width: 100%;}
.clicktowebsite label > input {display: none;}
.clicktowebsite label > input + a {cursor:pointer;}
.clicktowebsite label > input:checked + a {    
	background: #0092cc none repeat scroll 0% 0%;
    border: solid 1px #1379ab;
    text-decoration: none;
}
.clicktowebsite label > input:checked + a .titel-text{
	color: #fff !important;
    font-weight: bold;
}
.clicktowebsite a .img2 {display: none;}
.clicktowebsite label > input:checked + a .img1{ display: none}
.clicktowebsite label > input:checked + a .img2{ display: block;padding: 0px;text-align: center;display: block;}

/*multiproductad*/
.multiproductad label{ width: 100%;}
.multiproductad label > input {display: none;}
.multiproductad label > input + a {cursor:pointer;}
.multiproductad label > input:checked + a {    
	background: #0092cc none repeat scroll 0% 0%;
    border: solid 1px #1379ab;
    text-decoration: none;
}
.multiproductad label > input:checked + a .titel-text{
	color: #fff !important;
    font-weight: bold;
}
.multiproductad a .img2 {display: none;}
.multiproductad label > input:checked + a .img1{ display: none}
.multiproductad label > input:checked + a .img2{ display: block;padding: 0px;text-align: center;display: block;}

/*pagelike*/
.pagelike label{ width: 100%;}
.pagelike label > input {display: none;}
.pagelike label > input + a {cursor:pointer;}
.pagelike label > input:checked + a {    
	background: #0092cc none repeat scroll 0% 0%;
    border: solid 1px #1379ab;
    text-decoration: none;
}
.pagelike label > input:checked + a .titel-text{
	color: #fff !important;
    font-weight: bold;
}
.pagelike a .img2 {display: none;}
.pagelike label > input:checked + a .img1{ display: none}
.pagelike label > input:checked + a .img2{ display: block;padding: 0px;text-align: center;display: block;}

/*websiteconve*/
.websiteconve label{ width: 100%;}
.websiteconve label > input {display: none;}
.websiteconve label > input + a {cursor:pointer;}
.websiteconve label > input:checked + a {    
	background: #0092cc none repeat scroll 0% 0%;
    border: solid 1px #1379ab;
    text-decoration: none;
}
.websiteconve label > input:checked + a .titel-text{
	color: #fff !important;
    font-weight: bold;
}
.websiteconve a .img2 {display: none;}
.websiteconve label > input:checked + a .img1{ display: none}
.websiteconve label > input:checked + a .img2{ display: block;padding: 0px;text-align: center;display: block;}

/*leadgeneration*/
.leadgeneration label{ width: 100%;}
.leadgeneration label > input {display: none;}
.leadgeneration label > input + a {cursor:pointer;}
.leadgeneration label > input:checked + a {    
	background: #0092cc none repeat scroll 0% 0%;
    border: solid 1px #1379ab;
    text-decoration: none;
}
.leadgeneration label > input:checked + a .titel-text{
	color: #fff !important;
    font-weight: bold;
}
.leadgeneration a .img2 {display: none;}
.leadgeneration label > input:checked + a .img1{ display: none}
.leadgeneration label > input:checked + a .img2{ display: block;padding: 0px;text-align: center;display: block;}

/*postengagement*/
.postengagement label{ width: 100%;}
.postengagement label > input {display: none;}
.postengagement label > input + a {cursor:pointer;}
.postengagement label > input:checked + a {    
	background: #0092cc none repeat scroll 0% 0%;
    border: solid 1px #1379ab;
    text-decoration: none;
}
.postengagement label > input:checked + a .titel-text{
	color: #fff !important;
    font-weight: bold;
}
.postengagement a .img2 {display: none;}
.postengagement label > input:checked + a .img1{ display: none}
.postengagement label > input:checked + a .img2{ display: block;padding: 0px;text-align: center;display: block;}

/*extra*/
.linkdiv{
	display:block;
	padding:0px 7px;	
}
.linkdiv p{
	    color: #465866;
    font-weight: 600;
}
.linkdiv p span{
	 color: #758b9c;
	 font-weight:500;
	 margin-right:8px;
}
.gallery-box{
	border: 1px solid rgba(0,0,0,0.03);
    height: 210px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: rgba(0,0,0,0.03);
    padding: 15px 15px;
	position: relative;
    overflow-y: scroll;
}
.gallery-img{
	margin-bottom:15px;
	text-decoration:none;
	cursor:pointer;
	display:block;
}
.gallery-img img:hover{
	opacity:0.8;
	border-color:#0092cc;	
}
.gallery-img img{
	height: 100px;
        width: 100px;
}
/*custom checkbox radio button */
.checkbox {
  padding-left: 20px;
}
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
}
.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c";
}
.checkbox input[type="checkbox"]:indeterminate + label::after,
.checkbox input[type="radio"]:indeterminate + label::after {
  display: block;
  content: "";
  width: 10px;
  height: 3px;
  background-color: #555555;
  border-radius: 2px;
  margin-left: -16.5px;
  margin-top: 7px;
}
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #337ab7;
  border-color: #337ab7;
}
.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}
.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-primary input[type="checkbox"]:indeterminate + label::before,
.checkbox-primary input[type="radio"]:indeterminate + label::before {
  background-color: #337ab7;
  border-color: #337ab7;
}

.checkbox-primary input[type="checkbox"]:indeterminate + label::after,
.checkbox-primary input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-danger input[type="checkbox"]:indeterminate + label::before,
.checkbox-danger input[type="radio"]:indeterminate + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:indeterminate + label::after,
.checkbox-danger input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-info input[type="checkbox"]:indeterminate + label::before,
.checkbox-info input[type="radio"]:indeterminate + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:indeterminate + label::after,
.checkbox-info input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-warning input[type="checkbox"]:indeterminate + label::before,
.checkbox-warning input[type="radio"]:indeterminate + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:indeterminate + label::after,
.checkbox-warning input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-success input[type="checkbox"]:indeterminate + label::before,
.checkbox-success input[type="radio"]:indeterminate + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:indeterminate + label::after,
.checkbox-success input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.radio {
  padding-left: 20px;
}
.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
}
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
.radio.radio-inline {
  margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
  background-color: #337ab7;
}
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #337ab7;
}
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #337ab7;
}

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de;
}


.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c;
}

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
  color: #fff;
}
input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
  color: #fff;
}

/*budget Biddin */
.budget_type .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.budget_type .btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.budget_type .btn-group>.btn:first-child {
    margin-left: 0px;
	margin-right:10px;
}
.budget_type .control-label{
	margin-top:18px;
}
.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    margin-bottom: 6px;
}
.bb-stat-box{
	background-color: #0092cc;
    color: #fff;
    width: 100%;
    display: inline-block;
    border-radius: 1px;
    text-align: center;
    padding: 10px 5px;
    margin-bottom: 15px;
    min-height: 102px;
}
.bb-stat-box:before {
   content: "";
    position: absolute;
    bottom: 15px;
    left: 3px;
    border-width: 0px 25px 25px 0px;
    border-style: solid;
    display: block;
    width: 0px;
    border-bottom: 25px solid #f5f7f9;
    border-left: 0px solid #f5f7f9;
    z-index: 1;
    color: rgba(45, 47, 46, 0.55);
}
.bb-stat-box span{
    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9);
}
.bb-stat-box .numbr{
	padding: 7px 0px 4px 0;
    font-size: 21px;
    font-weight: 600;
	color:#fff;
	margin:0;
}
.bb-stat-box .bb-stat-det{
	margin: 0;
    color: rgba(255, 255, 255, 0.69);
    font-weight: 600;
}
.budgbid-box .control-label {
    font-weight: 600;
    color: #465866;
    font-size: 15px;
    margin-bottom: 6px;
}
@media only screen and (max-width: 768px) {
	.budgbid-box .form-group{
		text-align:center;
	}
}
.asap{
	margin-top:10px;
}
.done-content{
	margin-bottom:35px;
	display:block;
}
.done-content b{
	margin: 0px;
    text-align: center;
    color: #55b758;
    font-size: 30px;
}
.done-content p{
	color: #5f7688;
    font-size:20px;
	text-align:center;
}
.info-box {
    display: block;
    min-height: 116px;
    background: #0092cc;
    width: 100%;
    box-shadow: 1px 0px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}
.info-box:before {
    content: "";
    position: absolute;
    bottom: 15px;
    left: 15px;
    border-width: 0px 25px 25px 0px;
    border-style: solid;
    display: block;
    width: 0px;
    border-bottom: 25px solid #f5f7f9;
    border-left: 0px solid #f5f7f9;
    z-index: 1;
    color: rgba(45, 47, 46, 0.55);
}
.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 92px;
    width: 92px;
    text-align: center;
    font-size: 45px;
    line-height: 92px;
    background: rgba(0,0,0,0.2);
	box-shadow: 1px 1px 3px rgba(27, 27, 27, 0.64);
}
.info-box-icon .fa{
    color: #fff;
    text-align: center;
    font-size: 53px;
    text-shadow: 2px 2px 2px rgba(29, 29, 29, 0.61);
}
.info-box-content {
   padding: 6px 17px 6px 10px;
    margin-left: 100px;
    text-align: right;
}
.info-box-price {
    background: #0092cc none repeat scroll 0 0;
    border-radius: 2px;
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1);
    display: block;
    margin-bottom: 15px;
    min-height: 93px;
    width: 100%;
}
.info-box-price::before {
    border-bottom: 25px solid #f5f7f9;
    border-left: 0 solid #f5f7f9;
    border-style: solid;
    border-width: 0 25px 25px 0;
    bottom: 15px;
    color: rgba(45, 47, 46, 0.55);
    content: "";
    display: block;
    left: 15px;
    position: absolute;
    width: 0;
    z-index: 1;
}
.info-box-price-icon {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    border-radius: 2px 0 0 2px;
    box-shadow: 1px 1px 3px rgba(27, 27, 27, 0.64);
    display: block;
    float: left;
    font-size: 45px;
    height: 92px;
    line-height: 71px;
    text-align: center;
    width: 92px;
}
.info-box-icon-price .fa {
    color: #fff;
    font-size: 53px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(29, 29, 29, 0.61);
}
.info-box-content-price {
    margin-left: 100px;
    padding: 6px 17px 6px 10px;
    text-align: right;
}
.progress-description, .info-box-text {
   display: block;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.99);
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.info-box-number-price {
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.67);
}
.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 27px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.67);
}
.progress-description {
    margin: 0;
}
.darkgreen{
	    background-color: #00cc64 !important;
}
.darkblue{
	    background-color:#38a7cc !important;
}
.darkred{
	    background-color:rgb(255, 98, 95) !important;
}
.ortxt{
    color: #a3afb7;
    padding: 38px 0;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    position: relative;
    margin: 0;
}
.btn-asap{
	padding: 18px 26px;
	min-width:150px;
    font-size: 18px;
    line-height: 1.33;
    vertical-align: middle;
	margin-top:10px;
	box-shadow: 1px 1px 2px #797979;
}
.prev-btn{
	float:left;
}
.prev-btn a, .next-btn a{
	min-width:100px;
}
.next-btn{
	float:right;
}
