ul,
ol {
    padding: 0;
    margin: 0 0 10px 25px;
}

ul {
    list-style: none;
    margin: 0
}

#weeklyPlan input[type=checkbox] {
    clip: rect(0px, 0px, 0px, 0px);
    position: absolute
}

#weeklyPlan .weekdays-wrap .tit-section,
#weeklyPlan .weekdays-wrap .text-info {
    display: inline-block;
    color: #fff;
    vertical-align: middle
}


#weeklyPlan .weekdays-wrap .text-info {
    margin-top: 5px;
    margin-bottom: 5px
}

#weeklyPlan .weekdays-content {
    padding-top: 15px;
    padding-bottom: 15px
}

#weeklyPlan .weekdays-content .day,
#weeklyPlan .weekdays-content .item-day {
    overflow: hidden;
    position: relative;
    border-radius: 0
}

#weeklyPlan .weekdays-content .day:first-child .btn-day,
#weeklyPlan .weekdays-content .item-day:first-child .btn-day,
#weeklyPlan .weekdays-content .day:first-child .btn-day::before,
#weeklyPlan .weekdays-content .item-day:first-child .btn-day::before {
/*    border-top-left-radius: 4px*/
}

#weeklyPlan .weekdays-content .day:last-child .btn-day,
#weeklyPlan .weekdays-content .item-day:last-child .btn-day,
#weeklyPlan .weekdays-content .day:last-child .btn-day::before,
#weeklyPlan .weekdays-content .item-day:last-child .btn-day::before {
    border-bottom-left-radius: 4px
}

#weeklyPlan .weekdays-content .day .btn-day,
#weeklyPlan .weekdays-content .item-day .btn-day {
       position: relative;
    z-index: 2;
    width: 96px;
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    /* color: #333; */
    /* text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); */
    background: rgba(73,155,234,1);
    background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -o-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=0 );
    border: 1px solid #ccc;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 3px 0 rgba(204, 204, 204, 0.9);
    -moz-box-shadow: 0 3px 0 rgba(204, 204, 204, 0.9);
    box-shadow: 0 3px 0 rgba(204, 204, 204, 0.9);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px 20px;
    line-height: 258%;
    padding: 0;
    margin: 0;
    color: #ffffff;
    padding-left: 8px;
    border: 1px solid #337dcc;
    border-right: 0;
    border-radius: 0;
    text-align: left;
    cursor: default;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#weeklyPlan .weekdays-content .day .btn-day:hover,
#weeklyPlan .weekdays-content .item-day .btn-day:hover,
#weeklyPlan .weekdays-content .day .btn-day:focus,
#weeklyPlan .weekdays-content .item-day .btn-day:focus,
#weeklyPlan .weekdays-content .day .btn-day:active,
#weeklyPlan .weekdays-content .item-day .btn-day:active,
#weeklyPlan .weekdays-content .day .btn-day.active,
#weeklyPlan .weekdays-content .item-day .btn-day.active,
#weeklyPlan .weekdays-content .day .btn-day.disabled,
#weeklyPlan .weekdays-content .item-day .btn-day.disabled,
#weeklyPlan .weekdays-content .day .btn-day[disabled],
#weeklyPlan .weekdays-content .item-day .btn-day[disabled] {
    color: #333;
    background-color: #f7f7f7;
    *background-color: #ebebeb
}

#weeklyPlan .weekdays-content .day .btn-day:active,
#weeklyPlan .weekdays-content .item-day .btn-day:active,
#weeklyPlan .weekdays-content .day .btn-day.active,
#weeklyPlan .weekdays-content .item-day .btn-day.active {
    background-color: #dedede \9
}

#weeklyPlan .weekdays-content .day .btn-day:hover,
#weeklyPlan .weekdays-content .item-day .btn-day:hover,
#weeklyPlan .weekdays-content .day .btn-day:focus,
#weeklyPlan .weekdays-content .item-day .btn-day:focus,
#weeklyPlan .weekdays-content .day .btn-day:active,
#weeklyPlan .weekdays-content .item-day .btn-day:active,
#weeklyPlan .weekdays-content .day .btn-day.active,
#weeklyPlan .weekdays-content .item-day .btn-day.active,
#weeklyPlan .weekdays-content .day .btn-day.disabled,
#weeklyPlan .weekdays-content .item-day .btn-day.disabled,
#weeklyPlan .weekdays-content .day .btn-day[disabled],
#weeklyPlan .weekdays-content .item-day .btn-day[disabled] {
       color: #ebf3ff;
    background-color: #3d85d0;
    *background-color: #ebebeb
}

#weeklyPlan .weekdays-content .day .btn-day:active,
#weeklyPlan .weekdays-content .item-day .btn-day:active,
#weeklyPlan .weekdays-content .day .btn-day.active,
#weeklyPlan .weekdays-content .item-day .btn-day.active {
    background-color: #dedede \9
}

#weeklyPlan .weekdays-content .day .btn-day:first-child,
#weeklyPlan .weekdays-content .item-day .btn-day:first-child {
    *margin-left: 0
}

#weeklyPlan .weekdays-content .day .btn-day:first-child,
#weeklyPlan .weekdays-content .item-day .btn-day:first-child {
    *margin-left: 0
}

#weeklyPlan .weekdays-content .day .btn-day:hover,
#weeklyPlan .weekdays-content .item-day .btn-day:hover,
#weeklyPlan .weekdays-content .day .btn-day:focus,
#weeklyPlan .weekdays-content .item-day .btn-day:focus {
    color: #333;
    text-decoration: none;
   /* background-position: 0 -15px;*/
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
    -webkit-transition: background-position .1s linear 1s ease;
    -moz-transition: background-position .1s linear 1s ease;
    -ms-transition: background-position .1s linear 1s ease;
    -o-transition: background-position .1s linear 1s ease;
    transition: background-position .1s linear 1s ease
}

#weeklyPlan .weekdays-content .day .btn-day:focus,
#weeklyPlan .weekdays-content .item-day .btn-day:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

#weeklyPlan .weekdays-content .day .btn-day.active,
#weeklyPlan .weekdays-content .item-day .btn-day.active,
#weeklyPlan .weekdays-content .day .btn-day:active,
#weeklyPlan .weekdays-content .item-day .btn-day:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05)
}

#weeklyPlan .weekdays-content .day .btn-day.disabled,
#weeklyPlan .weekdays-content .item-day .btn-day.disabled,
#weeklyPlan .weekdays-content .day .btn-day[disabled],
#weeklyPlan .weekdays-content .item-day .btn-day[disabled] {
    cursor: default;
    background-image: none;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

#weeklyPlan .weekdays-content .day .btn-day .label,
#weeklyPlan .weekdays-content .item-day .btn-day .label,
#weeklyPlan .weekdays-content .day .btn-day .badge,
#weeklyPlan .weekdays-content .item-day .btn-day .badge {
    position: relative !important;
    top: -1px !important;
}

#weeklyPlan .weekdays-content .day .btn-day [class^="icon-"].icon-large,
#weeklyPlan .weekdays-content .item-day .btn-day [class^="icon-"].icon-large,
#weeklyPlan .weekdays-content .day .btn-day [class*=" icon-"].icon-large,
#weeklyPlan .weekdays-content .item-day .btn-day [class*=" icon-"].icon-large {
    line-height: .9em
}

#weeklyPlan .weekdays-content .day .btn-day [class^="icon-"].icon-spin,
#weeklyPlan .weekdays-content .item-day .btn-day [class^="icon-"].icon-spin,
#weeklyPlan .weekdays-content .day .btn-day [class*=" icon-"].icon-spin,
#weeklyPlan .weekdays-content .item-day .btn-day [class*=" icon-"].icon-spin {
    display: inline-block
}

#weeklyPlan .weekdays-content .day .btn-day [class^="icon-"].pull-left.icon-2x,
#weeklyPlan .weekdays-content .item-day .btn-day [class^="icon-"].pull-left.icon-2x,
#weeklyPlan .weekdays-content .day .btn-day [class*=" icon-"].pull-left.icon-2x,
#weeklyPlan .weekdays-content .item-day .btn-day [class*=" icon-"].pull-left.icon-2x,
#weeklyPlan .weekdays-content .day .btn-day [class^="icon-"].pull-right.icon-2x,
#weeklyPlan .weekdays-content .item-day .btn-day [class^="icon-"].pull-right.icon-2x,
#weeklyPlan .weekdays-content .day .btn-day [class*=" icon-"].pull-right.icon-2x,
#weeklyPlan .weekdays-content .item-day .btn-day [class*=" icon-"].pull-right.icon-2x {
    margin-top: .18em
}

#weeklyPlan .weekdays-content .day .btn-day [class^="icon-"].icon-spin.icon-large,
#weeklyPlan .weekdays-content .item-day .btn-day [class^="icon-"].icon-spin.icon-large,
#weeklyPlan .weekdays-content .day .btn-day [class*=" icon-"].icon-spin.icon-large,
#weeklyPlan .weekdays-content .item-day .btn-day [class*=" icon-"].icon-spin.icon-large {
    line-height: .8em
}

#weeklyPlan .weekdays-content .day .btn-day:hover,
#weeklyPlan .weekdays-content .item-day .btn-day:hover,
#weeklyPlan .weekdays-content .day .btn-day:focus,
#weeklyPlan .weekdays-content .item-day .btn-day:focus {
    text-decoration: none;
   /* background-position: 0 -25px*/
}

#weeklyPlan .weekdays-content .day .btn-day.active,
#weeklyPlan .weekdays-content .item-day .btn-day.active,
#weeklyPlan .weekdays-content .day .btn-day:active,
#weeklyPlan .weekdays-content .item-day .btn-day:active {
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05)
}

#weeklyPlan .weekdays-content .day .btn-day:hover,
#weeklyPlan .weekdays-content .item-day .btn-day:hover {
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3)
}

#weeklyPlan .weekdays-content .day .btn-day::before,
#weeklyPlan .weekdays-content .item-day .btn-day::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 5px;
    height: 100%;
    background: transparent
}

#weeklyPlan .weekdays-content .day .btn-day::after,
#weeklyPlan .weekdays-content .item-day .btn-day::after {
    float: right;
    font-family: "FontAwesome";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    text-decoration: none;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    font-size: 12.5px;
    line-height: 25px;
    color: #dfe6f3;
    background: #fff;
    border: 3px solid #6a758d;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border: 2px solid #b7b8bb;
    padding: 1px;
    margin: 7px 10px 0 8px;
    font-size: 14px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    color: #FFF;
    border-radius: 50%
}

#weeklyPlan .weekdays-content .day .btn-day:hover,
#weeklyPlan .weekdays-content .item-day .btn-day:hover {
    color: #d0dbec;
   
}

#weeklyPlan .weekdays-content .day .btn-day:hover::after,
#weeklyPlan .weekdays-content .item-day .btn-day:hover::after {
    color: #c8c8c8;
    opacity: 1;
    filter: alpha(opacity=100)
}

#weeklyPlan .weekdays-content .day.day-partial-selected .btn-day,
#weeklyPlan .weekdays-content .item-day.day-partial-selected .btn-day {
    color: #4d4d4d
}

#weeklyPlan .weekdays-content .day.day-partial-selected .btn-day::after,
#weeklyPlan .weekdays-content .item-day.day-partial-selected .btn-day::after {
    color: rgba(150, 171, 214, 0.7);
    border-style: dotted
}

#weeklyPlan .weekdays-content .day.day-partial-selected .btn-day::before,
#weeklyPlan .weekdays-content .item-day.day-partial-selected .btn-day::before {
    background: #96abd6
}

#weeklyPlan .weekdays-content .day.day-partial-selected .btn-day:hover::after,
#weeklyPlan .weekdays-content .item-day.day-partial-selected .btn-day:hover::after {
    color: #3b5998;
    border-style: solid
}

#weeklyPlan .weekdays-content .day.day-partial-selected .btn-day:hover::before,
#weeklyPlan .weekdays-content .item-day.day-partial-selected .btn-day:hover::before {
    background: #3b5998
}

#weeklyPlan .weekdays-content .day.day-full-selected .btn-day,
#weeklyPlan .weekdays-content .item-day.day-full-selected .btn-day {
    background: #3b5998;
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.5) inset;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.5) inset;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    color: #fff;
    border-color: #3b5998;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out 1s ease;
    -moz-transition: all .2s ease-in-out 1s ease;
    -ms-transition: all .2s ease-in-out 1s ease;
    -o-transition: all .2s ease-in-out 1s ease;
    transition: all .2s ease-in-out 1s ease;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #b7b8bb;
    border-right: 0;
    border-bottom: 0;
    color: #FFF
}

#weeklyPlan .weekdays-content .day.day-full-selected .btn-day::after,
#weeklyPlan .weekdays-content .item-day.day-full-selected .btn-day::after {
    opacity: 1;
    filter: alpha(opacity=100);
    background: #FFF;
    border-style: solid;
    border-color: #FFF;
    color: #3b5998;
    text-shadow: none
}

#weeklyPlan .weekdays-content .day.day-full-selected .btn-day::before,
#weeklyPlan .weekdays-content .item-day.day-full-selected .btn-day::before {
    background: #3b5998
}

#weeklyPlan .weekdays-content .days-list {
    width: 96px;
    float: left
}

#weeklyPlan .weekdays-content .days-list .day .btn-day {
    border-bottom: 0
}

#weeklyPlan .weekdays-content .days-list .day:last-child .btn-day {
    border-bottom: 1px solid #b7b8bb
}

#weeklyPlan .weekdays-content .days-list .day+.day {
    margin-top: 0
}

#weeklyPlan .weekdays-content .hours-list {
    position: relative;
    z-index: 1;
    list-style: none;
    border-left: 88px solid transparent
}

/*
ul.hours-list {
   float: left;
    width: 82%;  
}

ul.days-list {
    float: left;
    width: 18%;
}*/

#weeklyPlan .weekdays-content .hours-list .hours-day {
    height: 36px;
    border-width: 1px;
    border-style: solid;
    border-color: #e2e4e8;
    border-bottom: 0
}

#weeklyPlan .weekdays-content .hours-list .hours-day .item-hour {
    float: left;
    width: 4.166666666666667%;
    height: 36px;
    line-height: 36px;
    text-align: center;
    text-indent: -9999px
}

#weeklyPlan .weekdays-content .hours-list .item-day:first-child .hours-day {
    border-top-color: #b7b8bb
}

#weeklyPlan .weekdays-content .hours-list .item-day:last-child .hours-day {
    border-bottom: 1px solid #b7b8bb
}

#weeklyPlan .weekdays-content .hours-list .item-day+.item-day {
    margin-top: 0
}

#weeklyPlan .weekdays-content .item-hour {
    background: #FFF
}

#weeklyPlan .weekdays-content .item-hour:nth-child(2n+1) {
    background: #ecedef
}

#weeklyPlan .weekdays-content .hours-header {
    position: relative;
    height: 62px;
    border: 0;
    overflow: hidden;
    background: #FEFEFE;
    border-radius: 4px 0 0 0;
}

#weeklyPlan .weekdays-content .hours-header .text {
	float: left;
    width: 96px;
    padding: 4px 4px;
    margin: 0;
    font-size: 13px;
    color: #597694;
    line-height: normal;
    text-align: center;
    font-weight: 600;
    background-color: #e8ebf1;
    border: 1px solid #dadee4;
    border-right: none;
    border-bottom: none;
}

#weeklyPlan .weekdays-content .hours-header .hours-day {
       height: 100%;
    margin-left: 88px;
    border-top-color: #3e93e9;
    border-right: 1px solid #3e93e9;
    border-bottom: 0;
    border-radius: 0px 4px 0 0;
    overflow: hidden;
}

#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour {
    position: relative;
    height: 100%;
    background: 0;
    text-indent: 0
}

#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour:last-child .btn-hour {
    border-right: 0
}

#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour {
        position: relative;
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    cursor: pointer;
    color: #fff;
    background: rgba(73,155,234,1);
background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );
    border: 1px solid #237de0;
    border: 0;
    border-bottom-color: #3281d2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-left: .3em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 3px 0 rgba(204, 204, 204, 0.9);
    -moz-box-shadow: 0 3px 0 rgba(204, 204, 204, 0.9);
    box-shadow: 0 3px 0 rgba(204, 204, 204, 0.9);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    line-height: 36px;
    padding: 0;
    margin: 0;
    color: #fff;
    display: block;
    height: 62px;
    padding-top: 3px;
    border: 0;
    border-right: 1px solid #257cdc;
    border-radius: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour:hover,
#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour:focus,
#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour:active,
#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour.active,
#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour.disabled,
#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour[disabled] {
    color: #333;
    background-color: #f7f7f7;
    *background-color: #ebebeb
}

#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour:active,
#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour.active {
    background-color: #dedede \9
}

#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour:hover,
#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour:focus,
#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour:active,
#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour.active,
#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour.disabled,
#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour[disabled] {
       color: #fff;
    background-color: #4397ec;
    *background-color: #ebebeb
}

#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour:active,
#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour.active {
    background-color: #dedede \9
}

#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour:first-child {
    *margin-left: 0
}

#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour:first-child {
    *margin-left: 0
}

#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour:hover,
#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour:focus {
    color: #d9e7f5;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
    -webkit-transition: background-position .1s linear 1s ease;
    -moz-transition: background-position .1s linear 1s ease;
    -ms-transition: background-position .1s linear 1s ease;
    -o-transition: background-position .1s linear 1s ease;
    transition: background-position .1s linear 1s ease
}

#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour.active,
#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05)
}

#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour.disabled,
#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour[disabled] {
    cursor: default;
    background-image: none;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour .label,
#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour .badge {
    position: relative !important;
    top: -1px !important;
}
.hours-list label {
    margin: 0px !important;
    width: 100% !important;
}
#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour [class^="icon-"].icon-large,
#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour [class*=" icon-"].icon-large {
    line-height: .9em
}

#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour [class^="icon-"].icon-spin,
#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour [class*=" icon-"].icon-spin {
    display: inline-block
}

#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour [class^="icon-"].pull-left.icon-2x,
#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour [class*=" icon-"].pull-left.icon-2x,
#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour [class^="icon-"].pull-right.icon-2x,
#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour [class*=" icon-"].pull-right.icon-2x {
    margin-top: .18em
}

#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour [class^="icon-"].icon-spin.icon-large,
#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour [class*=" icon-"].icon-spin.icon-large {
    line-height: .8em
}

#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour:hover,
#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour:focus {
    text-decoration: none;
    background-position: 0 -25px
}

#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour.active,
#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour:active {
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05)
}

#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour:hover {
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3)
}

#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 5px;
    background: rgba(73,155,234,1);
background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );
}

#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour .btn-hour .tit {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -31px;
    display: block;
    width: 62px;
    height: 16px;
    line-height: 16px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour.hour-partial-selected .btn-hour {
    color: #4d4d4d
}

#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour.hour-partial-selected .btn-hour::before {
    background: #96abd6
}

#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour.hour-partial-selected .btn-hour:hover::before {
    background: #3b5998
}

#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour.hour-full-selected .btn-hour {
    background: #3b5998;
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.5) inset;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.5) inset;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    color: #fff;
    border-color: #3b5998;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out 1s ease;
    -moz-transition: all .2s ease-in-out 1s ease;
    -ms-transition: all .2s ease-in-out 1s ease;
    -o-transition: all .2s ease-in-out 1s ease;
    transition: all .2s ease-in-out 1s ease;
    border-right-color: #b7b8bb;
    color: #FFF
}

#weeklyPlan .weekdays-content .hours-header .hours-day .item-hour.hour-full-selected .btn-hour::before {
    background: #3b5998
}

#weeklyPlan .weekdays-content .hours-header .hours-wrap {
    border: 0
}

#weeklyPlan .weekdays-content .item-hour.ui-selectee {
    position: relative;
    cursor: crosshair
}

#weeklyPlan .weekdays-content .item-hour.ui-selectee::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(59, 89, 152, 0.4)
}

#weeklyPlan .weekdays-content .item-hour.ui-selectee.ui-selecting::before,
#weeklyPlan .weekdays-content .item-hour.ui-selectee.ui-selected::before {
    display: block
}

#weeklyPlan .weekdays-content .item-hour.ui-selectee.ui-selecting::before {
    opacity: .7;
    filter: alpha(opacity=70)
}

#weeklyPlan .weekdays-content .item-hour.ui-selectee:hover::before {
    display: block;
    background: rgba(59, 89, 152, 0.2)
}

#weeklyPlan .weekdays-content .item-hour.ui-selectee.ui-selected::before {
    background: rgba(59, 89, 152, 0.4);
    opacity: 1;
    filter: alpha(opacity=100)
}

#weeklyPlan .weekdays-content .item-hour.ui-selectee.ui-selected:hover::before {
    background: rgba(59, 89, 152, 0.7)
}

#weeklyPlan .weekdays-content .item-hour.ui-selectee.ui-selected:active::before {
    background: rgba(186, 13, 0, 0.8)
}

#weeklyPlan .weekdays-content .item-hour.ui-selectee.js-day-hover::before,
#weeklyPlan .weekdays-content .item-hour.ui-selectee.js-hour-hover::before {
    display: block;
    background: rgba(59, 89, 152, 0.2)
}

#weeklyPlan .weekdays-content .item-hour.ui-selectee.js-day-hover.ui-selected,
#weeklyPlan .weekdays-content .item-hour.ui-selectee.js-hour-hover.ui-selected {
    background: rgba(59, 89, 152, 0.7)
}

#weeklyPlan .weekdays-content .item-hour.ui-selectee:active::before {
    opacity: 1;
    filter: alpha(opacity=100)
}

#weeklyPlan .advanced-content .weekdays-wrap {
    padding: 15px
}
