
Conversation opened. 1 unread message.

Skip to content
Using Gmail with screen readers
Search


label:hardik 

Gmail
COMPOSE
Labels
Inbox
Starred
Important
Sent Mail
Drafts (25)
Akash
BALLE BUG TRACKER
Bing Ads
Brian
Cron (1)
DL orders
Elance
Facebook
Freelancer
GitHub
Godaddy
Google
Hardik
Hostgator
IMP. DOCS
IndiaMART
info@genextwebs.com
Junk E-mail
Kotak
Manuel
Neeraj Chitra
Odesk
Paypal
PeoplePerHour (5)
Pinterest
Queryo Alerts
Quora
Sachin Airnfly
Sachin-NP
Techriver
Twitter (2)
unitedINC
Upwork
More 
Hangouts

 
 
Remove label  More 
1 of 169  
 
Print all In new window
The Campaign Maker - Welcome Page Change
Hardik
x 

hardik chodvadiya
Attachments9:52 PM (11 hours ago)

to me 
put all images in image folder

5 Attachments 
  
	
Click here to Reply or Forward
3.07 GB (20%) of 15 GB used
Manage
Terms - Privacy
Last account activity: 10 minutes ago
Details
hardik chodvadiya's profile photo
hardik chodvadiya
Friends


Show details

@charset "utf-8";
/* CSS Document */
body{
	font-family: 'robotoregular';
}
ul, li {
}
.header_top{
    background-image: url(../images/header-top.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
    background-color: #3b5998;
}
.header_top .header_top_title h3{
  font-size: 26px;
  font-family: 'robotoregular';
  color: #fff;
  margin:0px;
  text-shadow: 0px 3px 2px #091429;
}
@media (min-width: 390px) and (max-width: 470px) {
}
@media (max-width: 650px) {
.header_top{
	padding:35px 0;	
}
.header_top .header_top_title h3 {
    text-shadow:0px 0px 5px #000000;
}
}
/**/
.firstlane_sec{
	padding:40px 0;
	background-color:#f5f7fa;
}
.firstlane_sec .firstlane_title h3{
  font-size: 33px;
  font-family: 'robotobold';
  color: #f39e00;
  text-shadow: 0px 2px 1px #7d5305;
  position:relative;
  padding: 17px 0;
}
.firstlane_sec .firstlane_title h3:after{
	content:" ";
	width:65px;
	height:5px;
	background-color:#3b5998;
	position:absolute;
	bottom:0px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
.firstlane_content{
	text-align:center;
	font-family: 'robotoregular';
	margin-top: 34px;
}
.firstlane_content p{
	text-align:center;
	font-size:20px;
	color:#585a60;
}
.firstlane_content p .special{
	color:#34518f !important;
    font-family: 'robotobold';
}
/**/
.trialnow_sec{
	padding:40px 0;
	background-color:#d4f0fe;
}
.trialnow_sec .trialnow_img{
	display:block;
	margin:15px 0;
}
@media (min-width: 768px) {
.trialnow_sec .trialnow_img{
	display:block;
	margin-top:75px;
}
}
.trialnow_sec .trialnow_content{
	text-align:center;
	font-family: 'robotoregular';
	margin-top: 5px;
}
.trialnow_sec .trialnow_content p.main{
    text-align: center;
    font-size: 24px;
    color: #0295de;
    text-shadow: 0px 1px 1px #3c5967;
}
.trialnow_sec .trialnow_content p .special{
color: #ff8f00 !important;
    font-family: 'robotobold';
    text-shadow: 0px 1px 1px #a96004;}
.trialnow_sec .trailnowbtn{
	display:block;
	text-align:center;
	margin-bottom:15px;
}
.trialnow_sec .trailnowbtn .trialbtn{
  border-radius: 5px;
  background-color: #da9107;
  box-shadow: 0px 4px 0px 0px #7b5c09;
  width: 300px;
  padding:15px 10px;
  color:#fff;
  font-family: 'robotobold';
  font-size:26px;
  text-align:center;
  text-shadow: 0px 1px 2px #675012;
  transition:0.5s ease-in-out;
}
.trialnow_sec .trailnowbtn .trialbtn:hover{
	background-color:#bf7e00;
}
@media (min-width: 300px) and (max-width: 420px) {
.trialnow_sec .trailnowbtn .trialbtn{
	width:280px;
}
}
.trialnow_sec .trialnow_content p.subcontent{
    text-align: center;
    font-size: 17px;
    color: #718694;
    font-family: 'robotoregular';
    margin-top: 15px;
}

/**/
.campaignmkrable_sec{
	padding:40px 0;
	background-color:#338cde;
	position:relative;
	overflow:hidden;
}
.campaignmkrable_content h2{
	text-align:center;
	font-size:30px;
	font-family: 'robotobold';
	color:#fff;
	text-shadow: 0px 2px 3px #0c3c54;
	z-index:11;
	position:relative;
}
.campaignmkrable_img{
	position:absolute;
	min-height:60px;
	top:-23px;
	right:0px;
}
.campaignmkrable_img img{
		
}
@media (min-width: 620px) and (max-width: 768px) {
.campaignmkrable_img{
	position:absolute;
	min-height:60px;
	top:20px;
	right:-20px;
	z-index:0
}
.campaignmkrable_img img{
	width:200px;		
}
.campaignmkrable_content h2{
	text-align:left;	
}
}
@media (min-width: 520px) and (max-width: 620px) {
.campaignmkrable_img{
	position:absolute;
	min-height:60px;
	top:20px;
	right:-20px;
	z-index:0
}
.campaignmkrable_img img{
	width:180px;		
}
.campaignmkrable_content h2{
	text-align:left;	
	font-size:25px;
}
}
@media (min-width: 420px) and (max-width: 520px) {
.campaignmkrable_img{
	position:absolute;
	min-height:60px;
	top:40px;
	right:-10px;
	z-index:0
}
.campaignmkrable_img img{
	width:130px;		
}
.campaignmkrable_content h2{
	text-align:left;	
	font-size:22px;
}
}
@media (min-width: 300px) and (max-width: 420px) {
.campaignmkrable_img{
	position:absolute;
	min-height:50px;
	top:80px;
	right:-10px;
	z-index:0
}
.campaignmkrable_img img{
	width:100px;		
}
.campaignmkrable_content h2{
	text-align:left;	
	font-size:20px;
}
}

/**/
.feature_sec{
	background-color:#d4f0fe;
	padding:40px 0;	
}
.feature_sec .feature_content{
	margin-top:25px;
}
.feature_sec .feature_content .featureitem{
   display: block;
    margin: 3px 0 15px 0;
    clear: both;
    min-height: 51px
}
.feature_sec .feature_content .featureitem .feature_img{
	display: inline-block;
    float: left;
    width: 66px;
	position: relative;
}
.feature_sec .feature_content .featureitem .featuretext{
	display:inline-block;
	position: relative;
	/* Firefox */
	width: -moz-calc(100% - 67px);
	/* WebKit */
	width: -webkit-calc(100% - 67px);
	/* Opera */
	width: -o-calc(100% - 67px);
	/* Standard */
	width: calc(100% - 67px);
}
.feature_sec .feature_content .featureitem .featuretext h5{
	font-family: 'robotoregular';
	color:#4e5c63;
	font-size:23px;
	padding-left: 8px;
}
@media (max-width: 768px) {
.feature_sec .feature_content .featureitem .feature_img{
	width:100%;
	float:none;
}
.feature_sec .feature_content .featureitem .featuretext{
	width:100%;
	text-align:center;
}
}
.feature_sec .feature_content .featureitem .featuretext.trafficflow h5 .special{
	color:#fb9700;
}
.feature_sec .feature_content .featureitem .featuretext.targettraffic h5 .special{
	color:#2cc180;
}
.feature_sec .feature_content .featureitem .featuretext.efforttime h5 .special{
	color:#1b84b2;
}
.feature_sec .feature_content .featureitem .featuretext.profitday h5 .special{
	color:#d63c3c;
}
.p-rl-8{
	padding-right:8px !important;
	padding-left:8px !important;	
}

/**/
.usemrtraffic_sec{
	padding:40px 0;
	background-color:#f2f7fa;
}
.usemrtraffic_sec .usemrtraffic_content{
	margin-top:25px;
}
.usemrtraffic_sec .usemrtraffic_content ul{
	list-style: none;
    display: block;
    margin-top: 15px;
}
.usemrtraffic_sec .usemrtraffic_content ul li{
	color:#607283;
	font-size:18px;
	font-family: 'robotomedium';
    margin-bottom: 10px;
	position:relative;
}
.usemrtraffic_sec .usemrtraffic_content ul li:before{
    content: '';
    padding: 0 0 0 20px;
    background: url(../images/umt-bullet.png) no-repeat 0 3px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -42px;
    top: -4px;
}
.usemrtraffic_sec .usemrtraffic_content .title{
	color: #338cde;
    text-align: left;
    font-size: 28px;
    font-family: 'robotobold';
    /* text-shadow: 0px 2px 0px #195a96; */
    z-index: 11;
    position: relative;
    margin-bottom: 25px;
	display: inline-block;
    width: 100%;
}

/**/
.targettraffic_sec{
	padding:40px 0;
	background-color:#d4f0fe;
}
.targettraffic_sec .targettraffic_content{
	margin-top:25px;
}

.targettraffic_sec .targettraffic_content ul{
	list-style: none;
    display: block;
    margin-top: 15px;
}
.targettraffic_sec .targettraffic_content ul li{
	color:#607283;
	font-size:18px;
	font-family: 'robotomedium';
    margin-bottom: 10px;
	position:relative;
}
.targettraffic_sec .targettraffic_content ul li:before{
    content: '';
    padding: 0 0 0 20px;
    background: url(../images/ttis_bullet.png) no-repeat 0 3px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -42px;
    top: -4px;
}
.targettraffic_sec .targettraffic_content .title{
	color: #dc4a4b;
    text-align: left;
    font-size: 28px;
    font-family: 'robotobold';
    /* text-shadow: 0px 2px 0px #195a96; */
    z-index: 11;
    position: relative;
    margin-bottom: 25px;
	display: inline-block;
    width: 100%;
}

/**/
.freepaid_sec{
	padding:40px 0;
	background-color:#f2f7fa;
}
.freepaid_sec .freepaid_content p{
	color:#607283;
	font-size:18px;
	font-family: 'robotomedium';
}
.freepaid_sec .freepaid_content p .special{
	color:#338cde;
}
@media (min-width: 768px) {

.freepaid_sec  .freepaid_img{
	margin-top:15px;	
}
}
.freepaid_sec .freepaid_content{
	margin-top:15px;
}
.freepaid_sec .freepaid_content ul{
	list-style: none;
    display: block;
    margin-top: 15px;
}
.freepaid_sec .freepaid_content ul li{
	color:#607283;
	font-size:18px;
	font-family: 'robotomedium';
    margin-bottom: 10px;
	position:relative;
}
.freepaid_sec .freepaid_content ul li:before{
    content: '';
    padding: 0 0 0 20px;
    background: url(../images/umt-bullet.png) no-repeat 0 3px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -42px;
    top: -4px;
}
.freepaid_sec .freepaid_content .title{
	color: #338cde;
    text-align: left;
    font-size: 28px;
    font-family: 'robotobold';
    /* text-shadow: 0px 2px 0px #195a96; */
    z-index: 11;
    position: relative;
    margin-bottom: 25px;
	display: inline-block;
    width: 100%;
}

/**/
.paidtrafic_sec{
	padding:40px 0;
	background-color:#ffffff;
}
.paidtrafic_sec .paidtrafic_content p{
	color:#607283;
	font-size:18px;
	font-family: 'robotomedium';
}
.paidtrafic_sec .paidtrafic_content ul li .special{
	color:#dc4a4b;
}
.paidtrafic_sec .paidtrafic_content{
	margin-top:15px;
}
.paidtrafic_sec .paidtrafic_content ul{
	list-style: none;
    display: block;
    margin-top: 15px;
}
.paidtrafic_sec .paidtrafic_content ul li{
	color:#607283;
	font-size:18px;
	font-family: 'robotomedium';
    margin-bottom: 10px;
	position:relative;
}
.paidtrafic_sec .paidtrafic_content ul li:before{
    content: '';
    padding: 0 0 0 20px;
    background: url(../images/ttis_bullet.png) no-repeat 0 3px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -42px;
    top: -4px;
}
.paidtrafic_sec .paidtrafic_content .title{
	color: #dc4a4b;
    text-align: left;
    font-size: 28px;
    font-family: 'robotobold';
    /* text-shadow: 0px 2px 0px #195a96; */
    z-index: 11;
    position: relative;
    margin-bottom: 25px;
	display: inline-block;
    width: 100%;
}
/**/
/**/
.winrprofit_sec{
	padding:40px 0;
	background-color:#264281;
	position:relative;
	overflow:hidden;
}
.winrprofit_content h2{
	text-align:center;
	font-size:30px;
	font-family: 'robotobold';
	color:#fff;
	text-shadow: 0px 2px 2px #14254a;
	z-index:11;
	position:relative;
}
.winrprofit_img{
	position:absolute;
	min-height:60px;
	top:5px;
	left:0px;
}
.winrprofit_img img{
		
}
@media (max-width: 768px) {

.winrprofit_content h2{
	text-align:center;	
	font-size:25px;
}
}

/**/
.fb_advert_answer_sec{
	padding:40px 0;
	background-color:#e3e8f4;
	position:relative;
	overflow:hidden;
}
.fb_advert_answer_sec h4{
	text-align:center;
	font-size:23px;
	font-family: 'robotomedium';
	color:#4d525f;
	z-index:11;
	position:relative;
}
.fb_advert_answer_sec .special{
	color:#264281;
}
.fb_advert_answer_sec .fb_advert_box{
	background-color:#fff;
	position:relative;
    box-shadow: 0px 2px 4px 0px rgba(22, 38, 75, 0.6);
	padding:20px 20px;
	overflow:hidden;
	border-radius:2px;
}
.fb_advert_answer_sec .fb_advert_box h3{
	color:#264281;
	font-family: 'robotomedium';
	font-size:25px;
	text-align:center;
	margin-top:5px;
}
.fb_advert_answer_sec .fb_advert_box p{
	color:#80848c;
	text-align:left;
	font-family: 'robotomedium';
	font-size:15px;
	padding:0 6px;
}
.fb_advrt_img{
	position:absolute;
	bottom:-20px;
	left:-10px;
	opacity:0.5;
}

/**/
.traffic_detail_sec{
	padding:35px 0;
	background-color:#5ab7bb;
	position:relative;
	overflow:hidden;
}
.traffic_detail_content{
	margin:10px 0;
}
.traffic_detail_content .title{
	text-align:center;
	display:block;
	margin-bottom:20px;
}
.traffic_detail_content .title h2{
text-align: center;
    font-size: 30px;
    font-family: 'robotobold';
    color: #5ab7bb;
    background-color: #fff;
    border-radius: 44px;
    display: inline-block;
    padding: 12px 58px;
    box-shadow: 0px 4px 3px 1px #2b6063;
    text-shadow: -2px 0px 0px #45898c;
    letter-spacing: 2.1px;
    text-transform: uppercase;
}
.traffic_detail_content p{
	color:#fff;
	font-family: 'robotomedium';
	font-size:23px;
	text-align:center;
	padding:2px 10px;
}

/**/
.audience_detail_sec{
	padding:35px 0;
	background-color:#ea4b40;
	position:relative;
	overflow:hidden;
}
.audience_detail_content{
	margin:10px 0;
}
.audience_detail_content .title{
	text-align:center;
	display:block;
	margin-bottom:20px;
}
.audience_detail_content .title h2{
	text-align: center;
    font-size: 30px;
    font-family: 'robotobold';
    color: #ea4b40;
    background-color: #fff;
    border-radius: 44px;
    display: inline-block;
    padding: 12px 58px;
    box-shadow: 0px 4px 3px 1px #772924;
    text-shadow: -2px 0px 0px #a7352d;
    letter-spacing: 2.1px;
    text-transform: uppercase;
}
.audience_detail_content p{
	color:#fff;
	font-family: 'robotomedium';
	font-size:24px;
	text-align:center;
	padding:2px 10px;
}

/**/
.targeting_detail_sec{
	padding:35px 0;
	background-color:#5ab7bb;
	position:relative;
	overflow:hidden;
}
.targeting_detail_content{
	margin:10px 0;
}
.targeting_detail_content .title{
	text-align:center;
	display:block;
	margin-bottom:20px;
}
.targeting_detail_content .title h2{
	text-align: center;
    font-size: 30px;
    font-family: 'robotobold';
    color: #5ab7bb;
    background-color: #fff;
    border-radius: 44px;
    display: inline-block;
    padding: 12px 58px;
    box-shadow: 0px 4px 3px 1px #2b6063;
    text-shadow: -2px 0px 0px #45898c;
    letter-spacing: 2.1px;
    text-transform: uppercase;
}
.targeting_detail_content p{
	color:#fff;
	font-family: 'robotomedium';
	font-size:23px;
	text-align:center;
	padding:2px 10px;
}

/**/
.time_detail_sec{
	padding:35px 0;
	background-color:#ea4b40;
	position:relative;
	overflow:hidden;
}
.time_detail_content{
	margin:10px 0;
}
.time_detail_content .title{
	text-align:center;
	display:block;
	margin-bottom:20px;
}
.time_detail_content .title h2{
	text-align: center;
    font-size: 30px;
    font-family: 'robotobold';
    color: #ea4b40;
    background-color: #fff;
    border-radius: 44px;
    display: inline-block;
    padding: 12px 58px;
    box-shadow: 0px 4px 3px 1px #772924;
    text-shadow: -2px 0px 0px #a7352d;
    letter-spacing: 2.1px;
    text-transform: uppercase;
}
.time_detail_content p{
	color:#fff;
	font-family: 'robotomedium';
	font-size:23px;
	text-align:center;
	padding:2px 10px;
}

/**/
.soundgreat_sec{
	padding:35px 0;
	background-color: #f7f7f7;
    position: relative;
    overflow: hidden;
}
.soundgreat_sec .soundgreat_content .title{
	margin-bottom:15px;
}
.soundgreat_sec .soundgreat_content .title h2{
	color:#2b5c97;
	 font-family: 'robotobold';
	 font-size:34px;
}
.soundgreat_sec .soundgreat_content .title h4{
	color:#f75548;
	 font-family: 'robotobold';
	 font-size:20px;
}
.soundgreat_sec .soundgreat_content p{
    font-family: 'robotomedium';
    color: #7e8a9a;
    font-size: 18px;
}

/**/
.solutiongen_sec{
	padding:35px 0;
	background-color: #338cde;
    position: relative;
    overflow: hidden;
	width: 100%;
	 background-image:url(../images/blog2.jpg);
	 background-repeat:no-repeat;
	 background-size:cover;
	 background-attachment:fixed;
     display: block;
	 min-height: 350px;
}
.solutiongen_content .title {
	margin-bottom:10px;
}
.solutiongen_content .title h4{
	font-family: 'robotomedium';
    color: #fff;
    font-size: 28px;
	text-align:center;
	text-shadow: 1px 1px 3px #214e75;
}
.solutiongen_content p{
	color:#fff;
	font-family: 'robotoregular';
	text-align:center;
	font-size:19px;
	padding:0 10px;
	text-shadow: 1px 1px 3px #214e75;
}

/**/
.quickeasy_sec{
	padding:40px 0;
	background-color:#f2f7fa;
}
.quickeasy_sec .quickeasy_img img{
	height:350px;
}
.quickeasy_sec .quickeasy_content{
	margin-top:25px;
}
.quickeasy_sec .quickeasy_content ul{
	list-style: none;
    display: block;
    margin-top: 15px;
}
.quickeasy_sec .quickeasy_content ul li{
	color:#607283;
	font-size:20px;
	font-family: 'robotomedium';
    margin-bottom: 10px;
	position:relative;
}
.quickeasy_sec .quickeasy_content ul li:before{
    content: '';
    padding: 0 0 0 20px;
    background: url(../images/umt-bullet.png) no-repeat 0 3px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -42px;
    top: 1px;
}
.quickeasy_sec .quickeasy_content .title{
	color: #338cde;
    text-align: left;
    font-size: 28px;
    font-family: 'robotobold';
    /* text-shadow: 0px 2px 0px #195a96; */
    z-index: 11;
    position: relative;
    margin-bottom: 25px;
	display: inline-block;
    width: 100%;
}

/**/
.widearray_sec{
	padding:40px 0;
	background-color:#3F51B5;
	position:relative;
	overflow:hidden;
}
.widearray_content h2{
	text-align:center;
	font-size:30px;
	font-family: 'robotobold';
	color:#fff;
	text-shadow: 0px 2px 2px #202a61;
	z-index:11;
	position:relative;
}
@media (max-width: 768px) {

.widearray_content h2{
	text-align:center;	
	font-size:25px;
}
}

/**/
.mainfeature_sec{
	padding:30px 0;
	background-color:#dbdeec;
	position:relative;
	overflow:hidden;
}
.mainfeature_content{
	margin-top:15px;
	font-family: 'robotoregular';
    font-size: 18px;
    color: #606475;
}
.mainfeature_content .mainfeatre_item {
	margin-top:30px;
}
.mainfeature_content .mainfeatre_item ul{
	display:block;
	list-style:none;
	margin: 0;
    padding: 0
}
.mainfeature_content .mainfeatre_item ul li{
    margin-bottom: 10px;
    margin-top: 10px;
    display: inline-block;
}
.mainfeature_content .mainfeatre_item ul li .featr_title{
	display: inline-block;
    background-color: #3f51b5;
    color: #fff;
    padding: 0px 16px 0px 0px;
    border-radius: 20px;
}
.mainfeature_content .mainfeatre_item ul li .featr_title img{
    background-color: #314198;
    padding: 6px 11px 6px 21px;
    border-radius: 23px 0 0 23px;
    text-align: center;
	float: left;
}
.mainfeature_content .mainfeatre_item ul li .featr_title span{
    font-size: 17px;
    font-family: 'robotomedium';
    letter-spacing: 0.41px;
    padding-left: 9px;
    padding-top: 8px;
    display: inline-block;
}
.mainfeature_content .mainfeatre_item ul li .featr_content{
	margin-top:15px;	
	padding-left:20px;
}
.mainfeature_content .mainfeatre_item ul li .featr_content p{
	color:#606475;
	font-family: 'robotoregular';
	font-size:19px;
}
@media (max-width: 544px) {
.mainfeature_content .mainfeatre_item ul li .featr_title span{
       padding-left: 9px;
    padding-top: 4px;
    display: block;
    font-size: 15px;
}
.mainfeature_content .mainfeatre_item ul li .featr_title img{
	margin-right:5px;
}
}


/**/
.abilitycreate_sec{
	padding: 30px 0;
    background-color: #ea4b40;
    position: relative;
    overflow: hidden;
}
.abilitycreate_sec .abilitycreate_content {
    margin-top: 25px;
}
.abilitycreate_sec .abilitycreate_content .title {
    color: #fff;
    text-align: left;
    font-size: 28px;
    font-family: 'robotobold';
    /* text-shadow: 0px 2px 0px #195a96; */
    z-index: 11;
    position: relative;
    margin-bottom: 25px;
    display: inline-block;
    width: 100%;
}
.abilitycreate_sec .abilitycreate_content .abilitycreate_item{
    background-color: #cc3d33;
    padding: 13px 10px;
    color: #fff;
    border-radius: 3px;
    display: inline-block;
    width: 100%;
    box-shadow: 0px 0px 3px 1px #af2e25;
    margin-bottom: 11px;
}
.abilitycreate_sec .abilitycreate_content .abilitycreate_item i{
	color: #fff;
    font-size: 39px;
    float: left;
    width: 66px;
    text-align: center;
	margin-right:5px;
	text-shadow: -2px -1px 0px #9c2f27;
}
.abilitycreate_sec .abilitycreate_content .abilitycreate_item h5{
	font-family: 'robotomedium';
    font-size: 18px;
    text-shadow: -2px -1px 0px #9c2f27;
    color: #fff;
}
.p-rl-5{
	padding-right:5px !important;
	padding-left:5px !important;
}
.featurebox{
	margin-top:15px;
	display:block;
}

/**/
.quiwassetup_sec{
	padding:30px 0;
	background-color:#338cde;
	position:relative;
	overflow:hidden;
}
.quiwassetup_content h2{
	text-align:center;
	font-size:30px;
	font-family: 'robotomedium';
	color:#fff;
	text-shadow: 0px 2px 2px #225e94;
	z-index:11;
	position:relative;
}
@media (max-width: 768px) {

.quiwassetup_content h2{
	text-align:center;	
	font-size:25px;
}
}

/**/
.selfsmarte_sec{
	padding:30px 0;
	background-color:#dbdeec;
	position:relative;
	overflow:hidden;
}
.selfsmarte_content h4{
	text-align:center;
	font-size:20px;
	font-family: 'robotomedium';
	color:#59707b;
	z-index:11;
	position:relative;
	/*text-shadow:0px 2px 0px #b78615;*/
}

/**/
.frstep_sec{
	padding:30px 0;
	background-color:#338cde;
	position:relative;
	overflow:hidden;
}
.frstep_content h2{
	text-align:center;
	font-size:30px;
	font-family: 'robotomedium';
	color:#fff;
	z-index:11;
	position:relative;
	text-shadow:0px 2px 0px #225e94;
}


/**/
.pwrfulstep_sec{
	padding: 30px 0;
    background-color: #dbdeec;
    position: relative;
    overflow: hidden;
}
.pwrfulstep_sec .pwrfulstep_content {
    margin-top: 15px;
}
.pwrfulstep_sec .pwrfulstep_item {
	margin-top:20px;
	display:block;
}
.pwrfulstep_sec .pwrfulstep_content .title {
  color: #5a6875;
    text-align: center;
    font-size: 22px;
    z-index: 11;
    position: relative;
    margin-bottom: 25px;
    display: inline-block;
    width: 100%;
}
.pwrfulstep_sec .pwrfulstep_item .title {
  color: #748594;
    text-align: center;
    font-size: 30px;
    font-family: 'robotomedium';
    z-index: 11;
    position: relative;
    margin-bottom: 25px;
    display: inline-block;
    width: 100%;
}
.pwrfulstep_sec .pwrfulstep_item .nmbr{
	text-align: center;
    color: #fff;
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
	 font-family: 'robotobold';
	 margin-top:20px;
}
.pwrfulstep_sec  .pwrfulstep_item{
    
}
.pwrfulstep_sec .pwrfulstep_item .nmbr.blue{
	background-color: #2196F3;
    box-shadow: 1px 2px 0px #113d61;
    text-shadow: 1px 1px 1px #0e426b;
}
.pwrfulstep_sec .pwrfulstep_item .nmbr.red{
    background-color: #ea4b40;
	box-shadow: 1px 2px 0px #98322b;
    text-shadow: 1px 1px 1px #82251e;
}
.pwrfulstep_sec .pwrfulstep_item .nmbr.green{
	background-color: #dca719;
    box-shadow: 1px 2px 0px #967314;
    text-shadow: 1px 1px 1px #947215;
}
.pwrfulstep_sec .pwrfulstep_item .nmbr.purple{
background-color: #4959af;
    box-shadow: 1px 2px 0px #1d2344;
    text-shadow: 1px 1px 1px #283161;
}
.pwrfulstep_sec .pwrfulstep_img{
	margin-top:0px;
		
}
.pwrfulstep_sec .pwrfulstep_content .pwrfulstep_item i{
    color: #fff;
    font-size: 29px;
    float: left;
    width: 35px;
    text-align: center;
    margin-right: 0px;
    text-shadow: -2px -1px 0px rgba(60, 60, 60, 0.72);
    font-style: normal;
    line-height: 37px;
}
.pwrfulstep_sec .pwrfulstep_content .pwrfulstep_item h5{
    font-family: 'robotomedium';
    font-size: 20px;
    text-shadow: 0px 2px 0px rgba(23, 23, 23, 0.4);
    color: #fff;
}
.xtra-content{
	display:inline-block;
	width:100%;
}
.xtra-content p{
    font-family: 'robotomedium';
    font-size: 19px;
    color: #5e6871;
	margin-left:15px;
}
.xtra-content .titleh2 {
    display: block;
    margin-bottom: 20px;
}
.xtra-content .titleh2 h2{
    text-align: center;
    font-size: 25px;
    font-family: 'robotobold';
    color: #fff;
    background-color: #ea4b40;
    border-radius: 44px;
    display: inline-block;
    padding: 12px 38px;
    box-shadow: 0px 4px 0px 0px #a5342d;
    text-shadow: -2px 0px 0px #b3332a;
    letter-spacing: 2.1px;
    text-transform: uppercase;
}
.p-rl-5{
	padding-right:5px !important;
	padding-left:5px !important;
}

/**/
/**/
.dominatefb_sec{
	padding:30px 0;
	background-color:#338cde;
	position:relative;
	overflow:hidden;
}
.dominatefb_content h2{
    text-align: center;
    font-size: 26px;
    font-family: 'robotomedium';
    color: #fff;
    z-index: 11;
    position: relative;
    text-shadow: 0px 2px 0px #266cad;
}
/**/
.claimBox_sec{
     width: 100%;
	 background-image:url(../images/bg-5.png);
	 background-color:#1064df;
	 background-repeat:no-repeat;
	 background-size:cover;
     display: block;
     position: relative;
	 min-height: 350px;
}
.claimBox_sec h2{
	text-align: left;
    font-size: 43px;
    font-family: 'robotomedium';
    color: #fff;
    z-index: 11;
    position: relative;
    text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.65);
    width: 75%;
}
.claimBox_sec h2 .special{
	color: #f4c500;	
}
.claimBox_sec .claimBox_content{
	margin-top:55px;
}
.claimBox_img{
	position:absolute;
	right:20px;
	bottom:0;
}
@media (max-width: 768px) {
.claimBox_sec h2{
	width:100%;
}
.claimBox_img{
	width:300px;
}
}

/**/
.marketingpltfrm_sec{
    padding: 30px 0;
    background-color: #dbdeec;
    position: relative;
    overflow: hidden;
}
.marketingpltfrm_content{
	margin-top:20px;
}
.marketingpltfrm_content p {
    text-align: center;
    font-size: 26px;
   font-family: 'robotoregular';
    color: #59707b;
    z-index: 11;
    position: relative;
    margin-bottom: 26px;
}
.marketingpltfrm_content p .special{
	color:#fb4911;	
	font-family: 'robotomedium';
}

/**/
.sevenf_sec{
    padding: 30px 0;
    background-color: #ea4b40;
    position: relative;
    overflow: hidden;	
}
.sevenf_content .featr_title{
display: inline-block;
    background-color: #d03e34;
    color: #fff;
    padding: 15px 16px 15px 9px;
    border-radius: 11px;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: 0px 2px 0px #b33830;
}
.sevenf_content .featr_title img{
    text-align: center;
	float: left;
}
.sevenf_content .featr_title span{
	font-size: 27px;
    font-family: 'robotomedium';
    letter-spacing: 0.41px;
    padding-left: 9px;
    padding-top: 2px;
    display: inline-block;
    text-shadow: -2px -1px 0px #bf372d;
}
.sevenf_content  .featr_content{
	margin-top:15px;	
	padding-left:20px;
}
.sevenf_content  .featr_content p{
	color:#606475;
	font-family: 'robotoregular';
	font-size:19px;
}
@media (max-width: 544px) {
.sevenf_content .featr_title span{
       padding-left: 9px;
    padding-top: 4px;
    display: block;
    font-size: 23px;
}
.sevenf_content  .featr_title img{
	margin-right:5px;
}
}
.sevenf_content2{
	margin-top:25px;
	display:inline-block;
	width:100%;
}
.sevenf_content2 p{
	text-align: left;
    font-size: 21px;
    font-family: 'robotoregular';
    color: #fff;
    z-index: 11;
    position: relative;
    margin-bottom: 26px;	
}
.sevenf_content2 p b{
	font-family: 'robotomedium';
	font-weight:normal;
	font-size:27px;
}
.sevenf_content2 p .special {
    color: #fffa10;
    font-family: 'robotomedium';
}

/**/
.pricing_section{
	
}
.pricing_section .table-content{
	padding: 0 10px;
}
.red{
	color:#e62929
}
.pricing_section {
    background: url(../images/smb-landing-hero.jpg) no-repeat;
    background-size: cover;
    display: block;
    text-align: center;
    padding: 69px 0 80px;
}
.pricing_section .section-title{
	color: #fff;
    font-size: 35px;
    font-family: 'robotobold';
    margin: 0;
    padding: 0;
    text-shadow: -2px -1px 0px #355492;
}
.pricing_section .section-cap {
   font-size: 17px;
    color: #eef3ff;
    font-family: 'robotoregular';
    display: block;
    margin-bottom: 43px;
    margin-top: 15px;
}
.pricing_section .pricing-content{
    padding: 0 50px;
    display: block;
}
.pricing_section .table-item {
    background: #fff;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 10px;
	box-shadow: 2px 3px 6px #15213c;
	margin-bottom: 33px;
	padding-right: 5px;
    padding-left: 5px;
}
pricing_section .sliver {
}
.pricing_section .table-item > h2 {
    font-size: 50px;
    font-weight: 600;
    color: #40434a;
    font-family: 'robotomedium';
    margin: 0;
    padding: 0;
    padding-bottom: 16px;
}
.pricing_section .table-item > h2 > sup {
    color: #303030;
    font-family:'robotoregular';
    font-weight: 400;
    font-size: 18px;
}
.pricing_section .table-item > h3{
     font-size: 21px;
    color: #303030;
    font-family: 'robotobold';
    margin: 0;
    padding: 9px 0;
}
.pricing_section .table-item > a {
    color: #fff;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 17px;
    position: relative;
    top: 18px;
    text-decoration: none;
    font-family: 'robotomedium';
	box-shadow: 2px 3px 6px rgba(30, 31, 33, 0.84);
}
.pricing_section .sliver > h3 {
    color: #45c9eb
}
.pricing_section .table-item > ul {
    display: block;
    margin-top: 0px;
	padding:0;
    min-height: 245px;
}
.pricing_section .table-item > ul > li {
 	font-size: 15px;
    line-height: 23px;
    color: #687679;
    font-family: 'robotoregular';
    list-style: none;
    padding: 8px;
}
.pricing_section .sliver > a {
    background: #45c9eb
}
.pricing_section .gold > h3 {
    color: #e53030;
}
.pricing_section .gold > a {
    background: #e53030
}
.pricing_section .platinum > h3 {
    color: #ffae00
}
.pricing_section .platinum > a {
    background: #ffae00
}
.pricing_section .platinum2 > h3 {
    color: #45c52e
}
.pricing_section .platinum2 > a {
    background: #45c52e
}

/**/
/**/
.claimBox_sec2{
     width: 100%;
	 background-image:url(../images/city.jpg);
	 background-color:#1064df;
	 background-repeat:no-repeat;
	 background-size:cover;
     display: block;
     position: relative;
	 min-height: 350px;
}
.claimBox_sec2 h2{
     text-align: center;
    font-size: 43px;
    font-family: 'robotomedium';
    color: #257fe4;
    z-index: 11;
    position: relative;
    margin-bottom: 51px;
    text-shadow: 1px 1px 1px rgb(12, 26, 43);
}
.claimBox_sec2 h2 .special{
	color: #f4c500;	
}
.claimBox_sec2 .claimBox_content{
	margin-top:55px;
}
.ftBoxbtn{
	margin-bottom:25px;
}

/**/
/**/
.textbox_sec{
	padding:40px 0;
	background-color:#dbdeec;
	position:relative;
	overflow:hidden;
}
.textbox_content p{
	text-align:left;
	font-size:20px;
	font-family: 'robotoregular';
	color:#59707b;
	z-index:11;
	position:relative;
	/*text-shadow:0px 2px 0px #b78615;*/
}

/**/
.claimtrail_sec{
	padding:20px 0;
	background-color:#ea4b40;
	position:relative;
	overflow:hidden;
}
.claimtrail_content h2{
	text-align:center;
	font-size:35px;
	font-family: 'robotobold';
	color:#fff;
	text-shadow: 0px 2px 2px #a93a32;
	z-index:11;
	position:relative;
}
@media (max-width: 768px) {

.claimtrail_content h2{
	text-align:center;	
	font-size:25px;
}
}


/**/
.ftbox_sec{
    background-image:url(../images/bg-6.jpg);
	 background-color:#5baec0;
	 background-repeat:no-repeat;
	 background-size:cover;
     display: block;
     position: relative;
	 padding: 40px 0;
	 min-height: 350px;
}
.ftbox_sec .ftbox_content h2{
    text-align: center;
    font-size: 35px;
    font-family: 'robotobold';
    color: #f3f90e;
    text-shadow: 0px 1px 7px #4c4e06;
    z-index: 11;
    position: relative;
    margin-bottom: 25px;
}

/**/
.footer-section {
    text-align: center;
    padding: 19px 0;
    background-color: #374448;
}

.footer-section .copyright {
	text-align:center;
}
.footer-section .copyright ul{
	    display: inline-block;
	float:none;
	}
.footer-section .copyright ul li{ }
.footer-section .copyright ul li a{
   color: #bbccd2 !important;
    font-family: 'robotomedium';
    font-size: 16px;
 }

.footer-section .copyright ul li a:hover{
    background: transparent !important
}
.footer-section .copyright > p , .copyright > p a{
     color: #9baeb5;
    font-family: 'robotoregular';
    font-size: 14px;
}
.footer-section .copyright > p a:hover{
    color: #000
}
.top-button a{
height: 40px;
    width: 40px;
    display: block;
    position: fixed;
    bottom: 15px;
    right: 15px;
    background: url(../images/arrow.bg.png) #59a7ea no-repeat;
    background-size: auto;
    background-position: center;
    border-radius: 50%;
    float: right;
    margin-top: 30px;
    display: block;
    box-shadow: 0px 2px 3px rgb(30, 60, 86);
	cursor:pointer;
}
.text-gray{
	color:#929292;
}
.stepul{
	list-style: none;
    display: block;
    margin-top: 15px;
	padding-left:60px;
}
.stepul li{
	color:#607283;
	font-size:18px;
	font-family: 'robotomedium';
    margin-bottom: 10px;
	position:relative;
}
.stepul li:before{
    content: '';
    padding: 0 0 0 20px;
    background: url(../images/ttis_bullet.png) no-repeat 0 3px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -42px;
    top: -4px;
}

/**/
.video_sec{
    padding: 40px 0;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}
.video_sec .campvideo iframe{
	display: inline-block;
    border: 8px solid #56bf7b;
    box-shadow: 2px 4px 6px #226b3b;
    border-radius: 4px;
}
style.css
Open with
5 of 5 items
publish-step5.pngbasic-traffic.pngbudget-step4.pngindex.htmlstyle.cssDisplaying style.css.