/***
Login page
***/
/* logo page */
.homepagesec {
  background-color: #d8f0f5 !important;
}

.homepagesec .logo {
  margin: 0 auto;
  margin-top: 0px;
  padding:15px 0;
  
}
/* footer copyright */
.homepagesec .copyright {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  color: #999;
  font-size: 13px;
}

@media (max-width: 480px) {
  .homepagesec .logo {
    margin-top: 10px;
  }
}

.homepagemenu{
	margin-top:35px;
}
.homepagemenu ul{
	list-style:none;
	padding:0;
	margin:0;
	display:inline-block;
	float:right;
}
.homepagemenu ul li{
	float:left;
	margin-right:15px;
}
.homepagemenu ul li a{
	text-decoration: none;
    padding: 9px 35px;
    display: block;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: #0092cc;
    color: #fff;
    border-radius: 42px;
	box-shadow: 0px 3px 0px #065a7b;
}
.homepagemenu ul li.free-trail a{
	color: #fff;
    padding: 7px 20px;
    background-color: #f4b400;
    border-radius: 0;
    outline: 2px solid #f4b400;
    border: 2px solid #d8f0f5;
    box-shadow: none;
    text-shadow: 0px 1px 2px #806703;
    font-size: 16px;
}
.homepagemenu ul li a:hover{
	background-color: #2273b2;
}
.homepagemenu ul li.free-trail a:hover{
	background-color: #e4a903;
	outline: 2px solid #e4a903;
}
@media (max-width: 768px) {
	.homepagemenu{
	margin-top:0px;
	margin-bottom:30px;
	text-align:center;
	}
	.homepagesec .logo {
    margin: 0 auto;
    margin-top: 0px;
    padding: 15px 0 0 0;
	text-align:center;
	}
	.homepagemenu ul{
		float:none;	
	}
}
@media (max-width: 392px) {
.homepagemenu ul li a{
	padding:9px 18px;
	display:block;
	font-size:14px;
}
.homepagemenu ul li.free-trail a{
	color: #fff;
	padding: 7px 13px;
}
.homepagemenu ul li{
	margin-right:4px;
}
}
.footer_bottom{
	margin-top:0px;
	background-color:#3b4044;
	display:block;
	text-align:center
}
.footer_bottom_link{
	text-align:center;
}
.footer_bottom .footer_bottom_link ul{
	list-style:none;
	padding:0;
	margin:0;
	display:inline-block;
	    margin-top: 3px;
}
.footer_bottom .footer_bottom_link ul li{
	float:left;
	margin-right:6px;
}
.footer_bottom .footer_bottom_link ul li a{
	text-decoration: none;
    padding:  10px;
	color:#bac3ca;
    display: block;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.footer_bottom .footer_bottom_link ul li a:hover{
	color:#fff;
}
@media (max-width: 500px) {
.footer_bottom .footer_bottom_link ul li a{
	font-size:13px;
	padding: 7px 6px;

}
.footer_bottom .footer_bottom_link ul li{
	margin-right:1px;
	text-align:center;
}
}
/**/
.homepage .claimBox_sec{
     width: 100%;
	 background-image:url("../../layout/img/blog22.png");
	 background-color:#3184d0;
	 background-repeat:no-repeat;
	 background-size:cover;
	 background-position:center;
     display: block;
     position: relative;
	 min-height: 350px;
}
.homepage .claimBox_sec h2{
	text-align: left;
    font-size: 25px;
	font-weight:600;
    color: #fff;
    z-index: 11;
    position: relative;
    text-shadow: 1px 2px 1px rgb(38, 44, 49);
    width: 75%;
}
.homepage .claimBox_sec h2 .special{
	color: #f4c500;	
}
.homepage .claimBox_sec .claimBox_content{
	margin-top:55px;
}
.homepage .claimBox_img{
	position:absolute;
	right:20px;
	bottom:0;
	z-index:1;
}
@media (max-width: 768px) {
.homepage .claimBox_sec h2{
	width:100%;
	font-size:24px;
	line-height: 33px;
}
.homepage .claimBox_img{
	width:300px;
}
}
@media (max-width: 700px) {
.homepage .claimBox_img{
	opacity:0.4;
}
}
@media (max-width: 400px) {
.homepage .claimBox_img{
	opacity:0.28;
}
}
.homepage .claimBox_sec .trailnow_btn{
	position:relative;
	z-index:99999;
	text-align:center;
}
.homepage .claimBox_sec .trailnow_btn img{
	position:relative;
	z-index:999999;
}
.norequired{
  font-size: 21px;
    color: #fff;
    margin-left: 0px;
    position: relative;
    z-index: 99999;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.65);
    display: block;
    margin-top: -31px;
    text-align: center;
}
@media (max-width: 552px) {

.norequired{
 margin-top: -21px;
}
}
/**/
/**/
.quiwassetup_sec{
	padding:30px 0;
	background-color:#38cde;
	position:relative;
	overflow:hidden;
}
.quiwassetup_sec .video_sec {
    margin-top: 25px;
    padding: 25px 30px;
    background-color: #f8feff;
    border: 1px solid #aac2c7;
    box-shadow: 0px 1px 19px #89a3a9;
    border-radius: 3px;
    margin-bottom: 40px;
	margin-top:20px;
}
.quiwassetup_sec .video_sec .fst_camp_vid iframe {
    display: inline-block;
    border: 10px solid #0092cc;
    box-shadow: 1px 1px 4px #064158;
    border-radius: 4px;
    margin: 10px 0;
    transition: all 0.3s ease-in-out;
}
.quiwassetup_sec .quiwassetup_content{
	margin:25px 0;
	display:block;
}
.quiwassetup_sec .quiwassetup_content h2{
	text-align: center;
    font-size: 23px;
    font-weight: 600;
    color: #2273b2;
    z-index: 11;
    position: relative;
}
@media (max-width: 768px) {

.quiwassetup_sec .quiwassetup_content h2{
	text-align:center;	
	font-size:20px;
}
}
/**/
.features_sec{
	padding: 45px 0;
    background-color: #0879b1;
    position: relative;
    overflow: hidden;
}
.features_sec .features_item{
    background-color: #fff;
    padding: 18px 11px 6px 11px;
    display: block;
    border-radius: 4px;
    box-shadow: 0px 2px 9px #053a54;
	margin:18px 0;
}
@media (min-width: 768px) {
.features_sec .features_item{
	min-height:296px;
}

}
.features_sec .features_item .features_img{
	display: inline-block;
    background-color: #0879b1;
    text-align: center;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    line-height: 82px;
    margin-bottom: 10px;
    border: 3px dotted #fff;
}
.features_sec .features_item .features_content{
	margin-top:10px;
}
.features_sec .features_item .features_content h4{
	 font-weight: 600;
    font-size: 19px;
    color: #0879b1;
    min-height: 41px
}
.features_sec .features_item .features_content p{
    font-weight: 600;
    font-size: 14px;
    color: #57676f;
	min-height:110px;
	margin:0;
}
@media (max-width: 768px) {
.features_sec .features_item .features_content p{
	min-height:50px;

}

}

/**/
.abilitycreate_sec{
    padding: 30px 0;
    background-color: #374d58;
    position: relative;
    overflow: hidden;
}
.abilitycreate_sec .abilitycreate_content {
    margin-top: 25px;
}
.abilitycreate_sec .abilitycreate_content .title {
    color: #fff;
    text-align: left;
    font-size: 28px;
	font-weight:600;
    /* text-shadow: 0px 2px 0px #195a96; */
    z-index: 11;
    position: relative;
    margin-bottom: 25px;
    display: inline-block;
    width: 100%;
}
.abilitycreate_sec .abilitycreate_content .abilitycreate_item{
	background-color: #273a44;
    padding: 13px 10px;
    color: #fff;
    border-radius: 3px;
    display: inline-block;
    width: 100%;
    border: 4px #374d58;
    margin-bottom: 11px;
    border-style: double;
}
.abilitycreate_sec .abilitycreate_content .abilitycreate_item i{
	color: #fff;
    font-size: 39px;
    float: left;
    width: 66px;
    text-align: center;
    margin-right: 5px;
    text-shadow: -2px -1px 1px #1f2e35;
    line-height: normal;
}
.abilitycreate_sec .abilitycreate_content .abilitycreate_item h5{
     font-size: 17px;
    text-shadow: -2px -1px 0px #1b2931;
    color: #fff;
    font-weight: 600;
}
.p-rl-5{
	padding-right:5px !important;
	padding-left:5px !important;
}
.abilitycreate_sec .featurebox{
	margin-top:15px;
	display:block;
}
/**/
.quiwassetup_sec2{
	padding:24px 0;
	background-color:#38cde;
	position:relative;
	overflow:hidden;
	display:inline-block;
	width:100%;
}
.quiwassetup_sec2 .quiwassetup_content h2{
	text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: #2273b2;
    z-index: 11;
    position: relative;
}
@media (max-width: 768px) {

.quiwassetup_sec2 .quiwassetup_content h2{
	text-align:center;	
	font-size:25px;
}
}
/**/
.hp_states{
	padding: 45px 0;
    background-color: #0879b1;
    position: relative;
    overflow: hidden;
	background-image:url(../../layout/img/blog2.jpg);
	background-size:cover;
}
.hp_states .hp_stats_content{
	margin:15px 0;
	display:block;
}
.hp_states .hp_stats_content h2{
	color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 30px;
}
.hp_states .d-box{
	margin-top:0px;
	margin-bottom:5px;	
}
.hp_states .hp_states_box{
	background-color: #fff;
    display: inline-block;
    width: 100%;
    border-radius: 3px;
    padding: 15px 0;
	margin-top:30px;
    box-shadow: 1px 2px 8px #1c446b;
}
.hp_states .d-box .dashboard-stat{
	
}

/**/
/**/
.claimBox_sec2{
     width: 100%;
	 background-image:url(../../layout/img/city.jpg);
	 background-color:#f7f3ea;
	 background-repeat:no-repeat;
	 background-size:cover;
	 background-position:bottom;
     display: block;
     position: relative;
	 min-height: 380px;
}
.claimBox_sec2 h5{
	font-size: 18px;
    margin-bottom: 32px;
    text-align: center;
    font-weight: 600;
    color: #505d6b;
}
.claimBox_sec2 h2{
     text-align: center;
    font-size: 43px;
    color: #257fe4;
	font-weight:600;
    z-index: 11;
	margin-top:18px;
    position: relative;
    margin-bottom: 51px;
    text-shadow: 1px 1px 1px rgb(12, 26, 43);
}
.claimBox_sec2 h2 .special{
	color: #f4c500;	
}
.claimBox_sec2 .claimBox_content{
	margin-top:55px;
}
claimBox_sec2 .ftBoxbtn{
	margin-bottom:25px;
}

/**/
.hp_steps{
	padding:22px 0 30px 0;
	background-color:#fff;
	display:block;
	background-image:url(../../layout/img/MS-Azure.png);
	background-size:contain;
	background-position:bottom;
	background-repeat:no-repeat;
	min-height:450px;
}
.hp_steps .hp_steps_title{
	font-weight: 700;
    text-align: center;
    color: #62737b;
	margin:18px 0;
	display:block;
}
.hp_steps .hp_step_item{
	margin-bottom:15px;
	margin-top:0px;
}
.hp_steps .hp_step_item .hp_step_nmbr{
  background-color: #0879b1;
    color: #fff;
    border-radius: 50%;
    margin-right: 8px;
    display: inline-block;
    float: left;
    width: 68px;
    height: 68px;
    text-align: center;
    border: 6px #ffffff;
    border-style: double;
}
.hp_steps .hp_step_item .hp_step_nmbr.blue{
      background-color: #0879b1 !important;
}
.hp_steps .hp_step_item .hp_step_name.blue{
      background-color: #0879b1 !important;
	  box-shadow: 1px 4px 0px #014b6f;
}
.hp_steps .hp_step_item .hp_step_nmbr.green{
      background-color: #8cc145 !important;
}
.hp_steps .hp_step_item .hp_step_name.green{
      background-color: #8cc145 !important;
	  box-shadow: 1px 4px 0px #598421;
}
.hp_steps .hp_step_item .hp_step_nmbr.purple{
      background-color: #9150a2 !important;
}
.hp_steps .hp_step_item .hp_step_name.purple{
      background-color: #9150a2 !important;
	  box-shadow: 1px 4px 0px #612b6f;
}
.hp_steps .hp_step_item .hp_step_nmbr.saffron{
      background-color: #e88a38 !important;
}
.hp_steps .hp_step_item .hp_step_name.saffron{
    background-color: #e88a38 !important;
    box-shadow: 1px 4px 0px #9e581b;
}
.hp_steps .hp_step_item .hp_step_nmbr.blue2{
      background-color: #2db1e7 !important;
}
.hp_steps .hp_step_item .hp_step_name.blue2{
   background-color: #2db1e7 !important;
    box-shadow: 1px 4px 0px #127eab;
}

.hp_steps .hp_step_item .hp_step_nmbr h3{
	font-weight: 900;
    font-size: 25px;
    line-height: 53px;
    margin: 0;
    text-shadow: 0 2px 5px rgba(23, 23, 23, 0.7);
}
.hp_steps .hp_step_item .hp_step_name{
	display: inline-block;
	width: calc(100% - 110px);
    background-color: #0879b1;
    color: #fff;
    min-height: 60px;
    padding: 3px 12px;
    border-radius: 2px 30px 30px 2px;
	
}
.hp_steps .hp_step_item .hp_step_name h3{
	    font-weight: 600;
    font-size: 20px;
    text-shadow: 0 1px 2px rgba(23, 23, 23, 0.7);
    margin: 15px 0;
}
.hp_steps .hp_step_img{
	margin-top: 35px;
    display: block;	
}
.hp_steps .hp_step_img img{
	width:400px;
}
@media (max-width: 768px) {
.hp_steps .hp_step_item .hp_step_nmbr{
	float:none;
	text-align:center;
	margin-bottom:12px;
	display:inline-block;
}
.hp_steps .hp_step_item .hp_step_name{
	display: inline-block;
	width: 100%;;
	border-radius: 30px;
}
.hp_steps .hp_step_item {
	text-align:center;
}
}
