/***
Login page
***/
/* logo page */
.login {
  background-color: #d8f0f5 !important;
}

.login .logo {
  margin: 0 auto;
  margin-top: 0px;
  padding:15px 0;
  
}

.login .content {
    background-color: #fdfeff;
    width:420px;
    margin: 0 auto;
    margin-bottom: 0px;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    border: 1px solid #b2cdd4;
    box-shadow: 2px 2px 21px #8aa4ab;
    border-radius: 4px;
}

.login .content h3 {
  color: #000;
}

.login .content h4 {
  color: #555;
}

.login .content p {
  color: #222;
}

.login .content .login-form,
.login .content .forget-form {
  padding: 0px;
  margin: 0px;
}

.login .content .input-icon {
  border-left: 2px solid #0092cc !important;
}

.login .content .input-icon .form-control {
  border-left: 0;
}

.login .content .forget-form {
  display: none;
}

.login .content .register-form {
  display: none;
}

.login .content .form-title {
     font-weight: 600;
    margin-bottom: 25px;
    color: #0879b1;
}
.login .content .form-title span{
	color: #f1ac0b;
}

.login .content .form-actions {
  background-color: #fff;
  clear: both;
  border: 0px;
  border-bottom: 1px solid #eee;
  padding: 0px 30px 25px 30px;
  margin-left: -30px;
  margin-right: -30px;
}

.login .content .form-actions .checkbox {
  margin-left: 0;
  padding-left: 0;
}

.login .content .forget-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.login .content .register-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0px;
}

.login .content .form-actions .checkbox {
  margin-top: 8px;
  display: inline-block;
}

.login .content .form-actions .btn {
  margin-top: 1px;
}

.login .content .forget-password {
  margin-top: 25px;
}

.login .content .create-account {
  border-top: 1px dotted #eee;
  padding-top: 10px;
  margin-top: 15px;
}

.login .content .create-account a {
  display: inline-block;
  margin-top: 5px;
}

/* select2 dropdowns */
.login .content .select2-container {
  border-left: 2px solid #0092cc  !important;
}

.login .content .select2-container .select2-choice {
  border-left: none !important;
}

.login .content .select2-container i {
  display: inline-block;
  position: relative;
  color: #ccc;
  z-index: 1;
  top: 1px;
  margin: 4px 4px 0px -1px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  text-align: center;
}

.login .content .has-error .select2-container i {
  color: #b94a48;
}

.login .content .select2-container a span {
  font-size: 13px;
}

.login .content .select2-container a span img {
  margin-left: 4px;
}

/* footer copyright */
.login .copyright {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  color: #999;
  font-size: 13px;
}

@media (max-width: 480px) {
  /***
  Login page
  ***/
  .login .logo {
    margin-top: 10px;
  }

  .login .content {
    width: 280px;
  }

  .login .content h3 {
    font-size: 22px;
  }

  .login .checkbox {
    font-size: 13px;
  }
}

.login-form .input-icon .form-control{
	height: 41px;
}
.login-form .input-icon > i {
    margin: 14px 2px 4px 10px;
}
.login .content .select2-container i {
    margin: 10px 2px 4px -2px;
}
.login-form .select2-container .select2-choice .select2-arrow b {
    background-position: 0 6px;
}
.login-form .form-control .select2-choice {
    border: 1px solid #e5e5e5;
    background-color: #fff;
    background-image: none;
    filter: none;
    height: 41px;
    padding: 3px 0 0px 12px;
}
.loginmenu{
	margin-top:35px;
}
.loginmenu ul{
	list-style:none;
	padding:0;
	margin:0;
	display:inline-block;
	float:right;
}
.loginmenu ul li{
	float:left;
	margin-right:6px;
}
.loginmenu ul li a{
	text-decoration:none;
	padding:7px 17px;
	display:block;
	font-size:15px;
	font-weight:600;
	cursor:pointer;
	transition:all 0.3s ease-in-out;
}
.loginmenu ul li.active a, .loginmenu ul li a:hover{
    color: #fff;
    background-color: #0092cc;
    border-radius: 23px;
    box-shadow: 0px 3px 0px #065a7b;	
}
@media (max-width: 768px) {
	.loginmenu{
	margin-top:0px;
	margin-bottom:30px;
	text-align:center;
	}
	.login .logo {
    margin: 0 auto;
    margin-top: 0px;
    padding: 15px 0 0 0;
	text-align:center;
	}
	.loginmenu ul{
		float:none;	
	}
}
@media (max-width: 392px) {
.loginmenu ul li a{
	padding:7px 10px;
	display:block;
	font-size:14px;
}

}
.footer_bottom{
	margin-top:35px;
	background-color:#5d767b;
	display:block;
	text-align:center
}
.footer_bottom_link{
	text-align:center;
}
.footer_bottom .footer_bottom_link ul{
	list-style:none;
	padding:0;
	margin:0;
	display:inline-block;
	    margin-top: 3px;
}
.footer_bottom .footer_bottom_link ul li{
	float:left;
	margin-right:6px;
}
.footer_bottom .footer_bottom_link ul li a{
	text-decoration: none;
    padding: 7px 10px;
	color:#fff;
    display: block;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
@media (max-width: 500px) {
.footer_bottom .footer_bottom_link ul li a{
	font-size:13px;
	padding: 7px 6px;

}
.footer_bottom .footer_bottom_link ul li{
	margin-right:1px;
	text-align:center;
}
}

/*helps  page*/
.helps_sec{
	display:block;
	background-color:#d8f0f5 ;
}
.helps_sec .sec-title h2{
	font-weight: 800;
    color: #467288;
    font-size: 31px;
	margin-bottom:20px;
	position:relative;
}
.helps_sec .sec-title h2:after{
	content: "";
    position: absolute;
    bottom: -13px;
    width: 50px;
    height: 4px;
    background-color: #0092cc;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.helps_sec .video_sec{
    margin-top: 25px;
    padding: 25px 30px;
    background-color: #f8feff;
    border: 1px solid #aac2c7;
    box-shadow: 0px 1px 19px #89a3a9;
    border-radius: 3px;
	margin-bottom:21px;
	
}

.helps_sec .video_sec .title{
	font-size: 23px;
    text-align: center;
    color: #7e9ba7;
    padding: 9px 0;
    margin-bottom: 15px;
    font-weight: 600;
}
.helps_sec .video_sec .fst_camp_vid iframe {
    display: inline-block;
    border: 10px solid #0092cc;
    box-shadow: 1px 1px 4px #064158;
    border-radius: 4px;
	margin-bottom:15px;
	    transition: all 0.3s ease-in-out;

}
.helps_sec .video_sec .fst_camp_vid iframe:hover {
	border-color:#eabe1a;
}
.helps_sec .start-improving-div{
	margin-bottom:15px;
}
.helps_sec .first_campaign_btn{
	margin-top:25px;
}
.helps_sec .first_campaign_btn button{
    font-size: 14px;
    font-weight: 600;
    padding: 6px 18px;
    text-shadow: 1px 1px 2px #9e7d18;
}
@media (max-width: 420px) {
.helps_sec .first_campaign_btn button{
	font-size:13px;
	font-weight:600;
	padding:6px 5px;
	width:100%;
}
.helps_sec .first_campaign_btn button img{
	width:45px;
}
.helps_sec .video_sec {
    margin-top: 25px;
    padding: 25px 15px;
}
.helps_sec .video_sec .fst_camp_vid iframe {
    border: 5px solid #0092cc;
}
.helps_sec .video_sec .title{
	font-size: 18px;

}
}
@media (max-width: 355px) {
.helps_sec .first_campaign_btn button{
	font-size:12px;
	font-weight:600;
	padding:6px 5px;
	width:100%;
}
.helps_sec .first_campaign_btn button img{
	width:32px;
}
}
.helps_sec .help_form{
	background-color: #fff;
    border: 1px solid #b5c9ce;
    border-radius: 3px;
    padding: 28px 18px;
    box-shadow: 1px 3px 20px #8dabb1;
    margin-top: 21px;
    margin-bottom: 15px;
	display:none;
}
.helps_sec .help_form form .form-group label{
	color: #7d9398;
    font-weight: 600;	
}
.helps_sec .help_form form .form-group .form-control{
    color: #333333;
    background-color: white;
    border: 1px solid #e8eeef;
    border-radius: 3px;
    height: 40px;
    margin-bottom: 10px;
}
.helps_sec .help_form form .form-group textarea.form-control{
	height:auto !important;
}
.helps_sec .help_form form .btn-send{
	padding: 12px 20px;
}

