

.stripes {
  position: absolute;
  width: 100%;
  transform: skewY(-12deg);
  height: 950px;
  top: -350px;
  background: linear-gradient(180deg, #e6ebf1 350px, rgba(230, 235, 241, 0));
}

.stripes .stripe {
  position: absolute;
  height: 190px;
}

.stripes .s1 {
  height: 380px;
  top: 0;
  left: 0;
  width: 24%;
  background: linear-gradient(90deg, #e6ebf1, rgba(230, 235, 241, 0));
}

.stripes .s2 {
  top: 380px;
  left: 4%;
  width: 35%;
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0.65),
    hsla(0, 0%, 100%, 0)
  );
}

.stripes .s3 {
  top: 380px;
  right: 0;
  width: 38%;
  background: linear-gradient(90deg, #e4e9f0, rgba(228, 233, 240, 0));
}


 .cell {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  -ms-flex: auto;
  flex: auto;
  min-width: 100%;
  padding: 0 40px;
}


.cell.intro {
  padding: 0;
}

@media (min-width: 670px) {
  .cell.intro {
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .optionList {
    margin-left: 13px;
  }
}

 .cell.intro > * {
  width: 100%;
  max-width: 700px;
}

 .cell.intro .common-IntroText {
  margin-top: 10px;
}

 .cell.intro .common-BodyText {
  margin-top: 15px;
}

 .cell.intro .common-ButtonGroup {
  width: auto;
  margin-top: 20px;
}

 .example {
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  padding: 80px 0px;
  margin-left: -20px;
  margin-right: -20px;
}

@media (min-width: 670px) {
   .example {
    padding: 40px;
  }
}

 .example.submitted form,
 .example.submitting form {
  opacity: 0;
  transform: scale(0.9);
  pointer-events: none;
}

 .example.submitted .success,
 .example.submitting .success {
  pointer-events: all;
}

 .example.submitting .success .icon {
  opacity: 1;
}

 .example.submitted .success > * {
  opacity: 1;
  transform: none !important;
}

 .example.submitted .success > :nth-child(2) {
  transition-delay: 0.1s;
}

 .example.submitted .success > :nth-child(3) {
  transition-delay: 0.2s;
}

 .example.submitted .success > :nth-child(4) {
  transition-delay: 0.3s;
}

 .example.submitted .success .icon .border,
 .example.submitted .success .icon .checkmark {
  opacity: 1;
  stroke-dashoffset: 0 !important;
}

 .example * {
  margin: 0;
  padding: 0;
}

 .example .caption {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  padding: 15px 10px 0;
  color: #aab7c4;
  font-family: Roboto, "Open Sans", "Segoe UI", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

 .example .caption * {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

 .example .caption .no-charge {
  color: #cfd7df;
  margin-right: 10px;
}

 .example .caption a.source {
  text-align: right;
  color: inherit;
  transition: color 0.1s ease-in-out;
  margin-left: 10px;
}

 .example .caption a.source:hover {
  color: #6772e5;
}

 .example .caption a.source:active {
  color: #43458b;
}

 .example .caption a.source  svg {
  margin-right: 10px;
}

 .example .caption a.source svg path {
  fill: currentColor;
}

 .example form {
  position: relative;
  width: 100%;
  max-width: 500px;
  transition-property: opacity, transform;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

 .example form input::-webkit-input-placeholder {
  opacity: 1;
}

 .example form input::-moz-placeholder {
  opacity: 1;
}

 .example form input:-ms-input-placeholder {
  opacity: 1;
}

 .example .error {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 100%;
  margin-top: 20px;
  left: 0;
  padding: 0 15px;
  font-size: 13px !important;
  opacity: 0;
  transform: translateY(10px);
  transition-property: opacity, transform;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

 .example .error.visible {
  opacity: 1;
  transform: none;
}

 .example .error .message {
  font-size: inherit;
}

 .example .error svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-top: -1px;
  margin-right: 10px;
}

 .example .success {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  text-align: center;
  pointer-events: none;
  overflow: hidden;
}

@media (min-width: 670px) {
   .example .success {
    padding: 40px;
  }
}

 .example .success > * {
  transition-property: opacity, transform;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0;
  transform: translateY(50px);
}

 .example .success .icon {
  margin: 15px 0 30px;
  transform: translateY(70px) scale(0.75);
}

 .example .success .icon svg {
  will-change: transform;
}

 .example .success .icon .border {
  stroke-dasharray: 251;
  stroke-dashoffset: 62.75;
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation: spin 1s linear infinite;
}

 .example .success .icon .checkmark {
  stroke-dasharray: 60;
  stroke-dashoffset: 60;
  transition: stroke-dashoffset 0.35s cubic-bezier(0.165, 0.84, 0.44, 1) 0.35s;
}

 .example .success .title {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 8px;
}

 .example .success .message {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 25px;
  line-height: 1.6em;
}

 .example .success .message span {
  font-size: inherit;
}

 .example .success .reset:active {
  transition-duration: 0.15s;
  transition-delay: 0s;
  opacity: 0.65;
}

 .example .success .reset svg {
  will-change: transform;
}


.optionList {
  margin: 6px 0;
}

.optionList li {
  display: inline-block;
  margin-right: 13px;
}

.optionList a {
  color: #aab7c4;
  transition: color 0.1s ease-in-out;
  cursor: pointer;
  font-size: 15px;
  line-height: 26px;
}

.optionList a.selected {
  color: #6772e5;
  font-weight: 600;
}

.optionList a:hover {
  color: #32325d;
}

.optionList a.selected:hover {
  cursor: default;
  color: #6772e5;
}
