<span style='color: #000'>1503 frames</span>	<span style='color: #900'>59,136 KB</span>	<span style='color: #090'>10,994.40 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />