/* Example tokeninput style #2: Facebook style */
ul.token-input-list-facebook {
    /*background: #26374c none repeat scroll 0 0;
    border: 1px solid #3f536e;*/
    border-radius: 3px;
    cursor: text;
    font-size: 12px;
    /*height: 42px !important;*/
    list-style-type: none;
    margin: 0;
    min-height: 1px;
    overflow: hidden;
    padding: 0;
    width: 100%;
    z-index: 999;
}

ul.token-input-list-facebook li input {
   /* background: #26374c none repeat scroll 0 0;*/
    border: 0 none;
    margin: 8px 0;
    padding: 7px 8px;
    width: 100px;
}

li.token-input-token-facebook {
    background: #0194ff none repeat scroll 0 0;
    border-radius: 1000px;
    color: #fff;
    cursor: default;
    display: inline-block;
    float: left;
    font-size: 11px;
    height: auto !important;
    line-height: 1.2;
    margin: 7px 6px 0;
    overflow: hidden;
    padding: 3px 12px 3px 10px;
    white-space: nowrap;
}

li.token-input-token-facebook p {
    display: inline;
    padding: 7px; font-size:16px;
    margin: 0;
}

li.token-input-token-facebook span {
    color: #0093ee;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 5px;
}

li.token-input-selected-token-facebook {
    background-color: #5670a6;
    border: 1px solid #3b5998;
    color: #fff;
}

li.token-input-input-token-facebook {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div.token-input-dropdown-facebook {
    position: absolute;
    width: 400px;
    background: #0194ff none repeat scroll 0 0;
    overflow: hidden;
    border-left: 1px solid #0194ff;
    border-right: 1px solid #0194ff;
    border-bottom: 1px solid #0194ff;
    cursor: default;
    font-size: 11px;
    font-family: Verdana;
    z-index: 1;
    color: #fff;
    max-height: 150px;
    overflow-y: scroll;
}

div.token-input-dropdown-facebook p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #fff;
}

div.token-input-dropdown-facebook ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown-facebook ul li {
    background: #0194ff none repeat scroll 0 0;
    padding: 3px;
    margin: 0;
    list-style-type: none;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item-facebook {
    background: #0194ff none repeat scroll 0 0;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item2-facebook {
    background: #0194ff none repeat scroll 0 0;
}

div.token-input-dropdown-facebook ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown-facebook ul li.token-input-selected-dropdown-item-facebook {
    background: #0194ff none repeat scroll 0 0;
    color: #fff;
}