.table-report .tags{
	margin: 0;
	padding: 0;
	list-style: none;
}
.table-report {
	width: 100%;
	font-size: 12px;
	color: #7f8fa4;
	font-weight: 600;
}
.table-report thead {
	background-color: #fafbfc;
}

.table-report thead th {
	padding: 16px 5px 14px;
	color: #4a4a4a;
	word-wrap: break-word;

}


.table-report thead th:first-child {
	color: #0294ff;
}

.table-report colgroup {
	width: 100%;
}

.table-report > colgroup > .col1 {
	/*border-left: 1px solid #e6eaee;*/
}

.table-report .col1 {
	padding: 0;
	width: 16%;
}

.table-report .col2 {
	width: 21%;
}

.table-report .col3 {
	width: 21%;
}

.table-report .col4 {
	width: 21%;
}

.table-report .col5 {
	width: 21%;
}

.table-report table {
	width: 100%;
}

.table-report .tab-holder {
	padding: 0;
}

.table-report .tab-holder:last-child .slide:after {
	bottom: 0;
}

.table-report .tab-holder:last-child .slide tr:last-child td:last-child {
	border-bottom: none;
}

.table-report .tab-holder table {
	padding: 0 !important;
}

.table-report .tab-holder .tab-content {
	padding: 0;
}

.table-report .tab-holder > td {
	padding: 0;
	border: 0;
}

.table-report .highlight-data {
	border-bottom: 1px solid #e6eaee;
}

.table-report .highlight-data > td {
	padding: 9px 5px;
}

.table-report .highlight-data > td:first-child {
	color: #4a4a4a;
}

.table-report .slide {
	position: relative;
}

.table-report .slide:after {
	content: "";
	position: absolute;
	width: 14px;
	top: 1px;
	bottom: 1px;
	left: -1px;
	background: #fff;
	border-right: 1px solid #e6eaee;
}

.table-report .slide table {
	width: 100%;
}

.table-report .slide table tr:last-child td:last-child {
	border-bottom: 1px solid #e6eaee;
}

.table-report .slide td {
	padding: 5px 5px;
	border-right: 1px solid #e6eaee;
	background: rgba(73, 143, 225, .1);
	border-bottom: 1px solid #e6eaee;
}

.table-report .slide td:first-child {
	font-weight: 400;
	padding: 5px 5px 5px 24px;
}

.table-report .slide td:last-child {
	border-right: none;
	background: none;
	border-bottom: none;
}

.table-report .tags {
	margin-left: -2px;
	margin-right: -2px;
}

.table-report .tags li {
	padding: 2px 2px;
}

.table-report .tags li.active .tag {
	background-color: #498fe1;
	color: #fff;
	border-color: #498fe1;
}

.table-report .tag {
	color: #9b9b9b;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 500;
	border: 1px solid #e6eaee;
	border-radius: 4px;
	padding: 2px 7px;
}

.table-report .tag:hover {
	text-decoration: none;
	background-color: #498fe1;
	color: #fff;
	border-color: #498fe1;
}
@media (min-width: 768px) {
	.table-report {
		text-align: center;
	}

	.table-report .tab-holder:last-child .slide:after {
		bottom: 0;
	}

	.table-report .slide:after {
		width: 19px;
		top: 0;
		bottom: 1px;
		left: -1px;
	}
}
@media (max-width: 767px) {
	.table-report thead {
		display: none;
	}

	.table-report colgroup {
		display: none;
	}

	.table-report .tab-holder .tab-content {
		/*border-left: 1px solid #e6eaee;*/
	}

	.table-report .highlight-data {
		border: 1px solid #e6eaee;
	}

	.table-report .highlight-data > td {
		display: block;
		width: 100%;
	
		padding-left: 15px;
		padding: 5px 5px 5px 15px;
	}

	.table-report .highlight-data > td:before {
		display: inline-block;
		color: #4a4a4a;
		content: attr(title);
		font-weight: 600;
		padding: 0 15px 0 0;
	}

	.table-report .highlight-data > td:first-child {
		border: none;
	}

	.table-report .highlight-data > td:first-child {
		color: #0294ff;
		font-size: 14px;
	}

	.table-report .highlight-data > td:first-child:before {
		display: none;
	}

	.table-report .slide {
		margin: -1px -1px 0 -2px;
	}

	.table-report .slide td:first-child {
		color: #0294ff;
		font-size: 14px;
		padding: 5px 5px 5px 20px;
	}

	.table-report .slide td:first-child:before {
		display: none;
	}

	.table-report .slide td:last-child {
		display: none;
	}

	.table-report .slide td {
		display: block;
		width: 100%;
		padding-left: 25px;
	}

	.table-report .slide td:before {
		display: inline-block;
		color: #4a4a4a;
		content: attr(title);
		font-weight: 600;
		padding: 0 15px 0 0;
	}
}
.table-report .tag {
    padding: 2px 3px !important;
}
