/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
/*header,*/
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

* {
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Roboto', sans-serif; }

section {
  padding: 0; }

h4 {
  margin: 0; }

label {
  font-weight: 400;}

p {
  margin: 0; }

/*header {
  background-color: #0079C4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10; }
  header .logo {
    display: flex;
    align-items: center; }
    header .logo img {
      width: 116px;
      height: 33px;
      margin-right: 10px; }
    header .logo .line {
      background-color: #979797;
      width: 2px;
      height: 50px; } */

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto; }
  .wrapper .wrapper-inner {
    flex: 1 0 auto; }
  .wrapper .content-left {
    position: fixed;
    width: 50%;
    height: 100%;
    /*top: 0;*/
    left: 0;
    background-color: #1B1B1B; }
    @media (max-width: 767px) {
      .wrapper .content-left {
        position: relative;
        width: 100%;
        top: 50px; } }
  .wrapper .content-right {
    position: absolute;
    width: 50%;
    height: 100%;
    /*top: 0;*/
    left: 50%;
    background-color: #ffffff; color:#333; overflow:auto; }
    @media (max-width: 767px) {
      .wrapper .content-right {
        /*position: relative;*/
        width: 100%;
        left: 0; } }
  .wrapper .one-step-away p {
    color: #ffffff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
    padding: 20% 10%;
    letter-spacing: -5px;
    line-height: 77px;
    font-weight: 600; }
    @media (max-width: 767px) {
      .wrapper .one-step-away p {
        font-size: 32px;
        letter-spacing: 0;
        line-height: 35px;
        padding: 20% 10% 10% 10%; } }
  .wrapper .last-step {
    border-right: 1px solid #EBF0F5;
    border-left: 1px solid rgba(235, 240, 245, 0.2);
    border-bottom: 1px solid #EBF0F5;
    border-radius: 0 0 5px 0;
    margin: 100px 15px 20px 30px; }
    @media (max-width: 767px) {
      .wrapper .last-step {
        margin: 20px; } }
    .wrapper .last-step .step-list ul {
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      color: #7DC855;
      margin: 0;
      padding: 0;
      border-bottom: 1px solid #EBF0F5; }
      @media (max-width: 767px) {
        .wrapper .last-step .step-list ul {
          padding: 10px 0 0 0;
          border: 2px solid #EBF0F5; } }
      .wrapper .last-step .step-list ul li {
        position: relative;
        padding-bottom: 20px;
        padding-right: 5px;
        text-decoration: line-through; }
        .wrapper .last-step .step-list ul li:last-child {
          margin-right: 15px;
          text-decoration: none; }
          @media (max-width: 767px) {
            .wrapper .last-step .step-list ul li:last-child {
              margin: 0; } }
        .wrapper .last-step .step-list ul li.activate {
          color: #358ED7; }
          .wrapper .last-step .step-list ul li.activate:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 100%;
            height: 2px;
            background-color: #358ED7; }
        .wrapper .last-step .step-list ul li i {
          display: inline-block;
          font-size: 20px; }
          .wrapper .last-step .step-list ul li i.four {
            width: 18px;
            height: 18px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #358ED7;
            border-radius: 11px;
            font-size: 10px;
            font-style: normal; }
    .wrapper .last-step .step-choose {
      margin-left: 10px;
      margin-right: 30px; }
      @media (max-width: 767px) {
        .wrapper .last-step .step-choose {
          margin: 0; } }
      .wrapper .last-step .step-choose .step-choose-title h2 {
        color: #5E6977;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 500;
        margin: 33px 0 0 60px; }
        @media (max-width: 767px) {
          .wrapper .last-step .step-choose .step-choose-title h2 {
            margin: 30px 0 10px 0;
            text-align: center; } }
      .wrapper .last-step .step-choose .step-select-choose {
        margin: 30px 0px 0 60px; }
        @media (max-width: 767px) {
          .wrapper .last-step .step-choose .step-select-choose .select-choose {
            margin-left: -20px; } }
        @media (max-width: 767px) {
          .wrapper .last-step .step-choose .step-select-choose {
            margin: 0; } }
        .wrapper .last-step .step-choose .step-select-choose .line-hr {
          width: 90%;
          height: 1px;
          background-color: #EBF0F5;
          margin: 20px 0 18px 0; }
        .wrapper .last-step .step-choose .step-select-choose .step-card {
          margin-right: 10%; }
        .wrapper .last-step .step-choose .step-select-choose .step-credit-card {
          display: flex;
          justify-content: space-between;
          align-items: center; }
          @media (max-width: 767px) {
            .wrapper .last-step .step-choose .step-select-choose .step-credit-card {
              display: block; } }
          .wrapper .last-step .step-choose .step-select-choose .step-credit-card .step-credit-title {
            color: #86939E;
            font-size: 14px; }
          .wrapper .last-step .step-choose .step-select-choose .step-credit-card .step-credit-logo {
            display: flex;
            align-items: center; }
            .wrapper .last-step .step-choose .step-select-choose .step-credit-card .step-credit-logo img {
              width: auto; }
        .wrapper .last-step .step-choose .step-select-choose .type-credit-card {
          position: relative; }
          .wrapper .last-step .step-choose .step-select-choose .type-credit-card input {
            width: 100%;
            height: 42px;
            border: 2px solid #7DC855;
            border-radius: 6px;
            outline: none;
            padding-left: 10px; }
          .wrapper .last-step .step-choose .step-select-choose .type-credit-card .credit-icon {
            position: absolute;
            top: 13px;
            right: 10px; }
            .wrapper .last-step .step-choose .step-select-choose .type-credit-card .credit-icon i {
              color: #7DC855; }
          .wrapper .last-step .step-choose .step-select-choose .type-credit-card .credit-info {
            text-align: center; }
            .wrapper .last-step .step-choose .step-select-choose .type-credit-card .credit-info span {
              color: #86939E;
              font-size: 11px; }
              @media (max-width: 767px) {
                .wrapper .last-step .step-choose .step-select-choose .type-credit-card .credit-info span {
                  font-size: 13px; } }
        .wrapper .last-step .step-choose .step-select-choose .step-card-data {
          margin: 25px 0; }
          @media (max-width: 767px) {
            .wrapper .last-step .step-choose .step-select-choose .step-card-data {
              margin: 25px 0 15px 0; } }
          .wrapper .last-step .step-choose .step-select-choose .step-card-data .step-card-info {
            display: flex;
            flex-direction: column; }
            .wrapper .last-step .step-choose .step-select-choose .step-card-data .step-card-info .card-info-title span {
              color: #86939E;
              display: block;
              font-size: 14px;
              margin-bottom: 7px; }
            .wrapper .last-step .step-choose .step-select-choose .step-card-data .step-card-info .credit-card-date {
              display: flex;
              margin-right: 5%; }
              .wrapper .last-step .step-choose .step-select-choose .step-card-data .step-card-info .credit-card-date .month,
              .wrapper .last-step .step-choose .step-select-choose .step-card-data .step-card-info .credit-card-date .years {
                max-width: 50%;
                flex: 1 0 50%; }
          .wrapper .last-step .step-choose .step-select-choose .step-card-data .credit-card-cvv {
            margin-right: 0; }
            .wrapper .last-step .step-choose .step-select-choose .step-card-data .credit-card-cvv .card-cvv-title {
              margin: 5px 0 5px 30px; }
              .wrapper .last-step .step-choose .step-select-choose .step-card-data .credit-card-cvv .card-cvv-title span {
                color: #86939E;
                font-size: 14px; }
            .wrapper .last-step .step-choose .step-select-choose .step-card-data .credit-card-cvv .card-cvv-input {
              margin-left: 10px; }
              @media (max-width: 767px) {
                .wrapper .last-step .step-choose .step-select-choose .step-card-data .credit-card-cvv .card-cvv-input {
                  margin-left: 0; } }
              .wrapper .last-step .step-choose .step-select-choose .step-card-data .credit-card-cvv .card-cvv-input input {
                width: 78%;
                height: 42px;
                border: 1px solid #E1E8EE;
                border-radius: 6px;
                outline: none;
                padding-left: 20px; }
                @media (max-width: 767px) {
                  .wrapper .last-step .step-choose .step-select-choose .step-card-data .credit-card-cvv .card-cvv-input input {
                    width: 91%; } }
    .wrapper .last-step .line-hor {
      width: 100%;
      height: 1px;
      background-color: #EBF0F5;
      margin: 20px 0 0 0; }
    .wrapper .last-step .step-method-activate {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .wrapper .last-step .step-method-activate .step-method-pay {
        padding-right: 10px;
        max-width: 50%;
        flex: 1 0 50%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        border-right: 1px solid #E1E8EE; }
        @media (max-width: 767px) {
          .wrapper .last-step .step-method-activate .step-method-pay {
            max-width: 100%;
            border-right: 0;
            justify-content: flex-start; } }
        @media (max-width: 898px) {
          .wrapper .last-step .step-method-activate .step-method-pay {
            max-width: 100%;
            flex: 1 0 100%; } }
        .wrapper .last-step .step-method-activate .step-method-pay .step-method-power {
          border: 1px solid #86939E;
          border-radius: 6px;
          padding: 7px 10px;
          margin: 10px 0 10px 10px; }
          .wrapper .last-step .step-method-activate .step-method-pay .step-method-power p {
            color: #86939E;
            font-size: 12px; }
            .wrapper .last-step .step-method-activate .step-method-pay .step-method-power p span {
              font-size: 15px;
              font-weight: 900; }
        .wrapper .last-step .step-method-activate .step-method-pay .step-agree-pay {
          color: #86939E;
          font-size: 12px;
          margin-left: 15px; }
          @media (max-width: 767px) {
            .wrapper .last-step .step-method-activate .step-method-pay .step-agree-pay {
              margin: 0 20px; } }
      .wrapper .last-step .step-method-activate .card-btn {
        margin: 0 14% 10px 0; }
        @media (max-width: 767px) {
          .wrapper .last-step .step-method-activate .card-btn {
            width: 100%;
            margin: 0 10% 10px 0; } }
        @media (max-width: 1205px) {
          .wrapper .last-step .step-method-activate .card-btn {
            margin: auto; } }
  .wrapper .step-activate-card {
    position: relative;
    color: #7DC855;
    background-color: #ffffff;
    width: 100%;
    border: 2px solid #7DC855;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    padding: 12px 40px 12px 24px;
    margin-right: 10%;
    margin-top: 10px;
    cursor: pointer; }
    .wrapper .step-activate-card:hover {
      color: #5B923E;
      border: 2px solid #5B923E; }
    .wrapper .step-activate-card:focus {
      border: 2px dotted #5B923E;
      outline: none; }
    @media (max-width: 1205px) {
      .wrapper .step-activate-card {
        margin-right: 0; } }
    .wrapper .step-activate-card .activate-card-icon {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px; }
      .wrapper .step-activate-card .activate-card-icon i {
        color: #7DC855; }
        .wrapper .step-activate-card .activate-card-icon i:hover {
          color: red; }

.colr-blue {
  color: #0079C4; }

.padding-0 {
  padding: 0; }

@media (max-width: 767px) {
  .row {
    margin: 0; } }

.padding-15 {
  padding: 0 15px; }
  @media (max-width: 767px) {
    .padding-15 {
      padding: 0; } }

.m-r-10 {
  margin-right: 10px; }

.m-select > select {
  color: #5E6977;
  background-color: #F0F4F7;
  background: url(../../img/arrow-d.png) 80%/15% no-repeat #eee;
  background-size: 8px 4px;
  border: 0;
  border-radius: 6px;
  width: 90%;
  height: 42px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  outline: none;
  padding: 10px 20px;
  margin-right: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  @media (max-width: 767px) {
    .m-select > select {
      margin-right: 0; }
      .m-select > select:first-child {
        margin-right: 15px; } }

.m-radio > input {
  display: none; }
  .m-radio > input:checked ~ label > i:before {
    transform: scale(1); }
  .m-radio > input:checked ~ label:before {
    opacity: 1; }

.m-radio label {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding: 20px 10px;
  cursor: pointer; }
  @media (max-width: 767px) {
    .m-radio label {
      padding: 10px 0; } }
  .m-radio label:before {
    content: '';
    background-color: #F5F6FA;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 0;
    transition: opacity 0.2s ease; }
  .m-radio label .precondition {
    line-height: 24px;
    position: relative;
    z-index: 1; }
    .m-radio label .precondition h4 {
      color: #5E6977;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 10px; }
      .m-radio label .precondition h4 .asterisk {
        color: #ED576D; }
    .m-radio label .precondition p {
      color: #86939E;
      font-family: 'Roboto', sans-serif;
      font-size: 16px; }
  .m-radio label i {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: relative;
    background-color: #E1E8EE;
    margin: 0 10px; }
    .m-radio label i:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #ffffff;
      border: 5px solid #7DC855;
      border-radius: 50%;
      transform: scale(0);
      transition: .4s; }

.m-l-30 {
  margin-left: -20px; }
  @media (max-width: 767px) {
    .m-l-30 {
      margin: 0; } }
  .m-l-30:last-child {
    margin-top: 20px; }
    @media (max-width: 767px) {
      .m-l-30:last-child {
        margin-top: 10px; } }
@media (max-width: 600px) {
.wrapper .one-step-away p {
    padding: 10% 10% 20%;
}
}
        
#wrapper #header{
    /*overflow: hidden;*/
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}        
#wrapper{
    display:block;
}
#footer {
    bottom: 0;
    height: 6%;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 9999999;
}
#footer .container-fluid {
    padding-top: 5px;
}
.nice-select.open .list {
    max-height: 200px;
    overflow: scroll;
}